[2019-01-29 05:38] dgkanatsios commented on #450
and avoid the red squiggly lines on VS Code (cannot find this file/library etc.) :)

[2019-01-29 05:54] radu-matei commented on #450
Also, for reference, I've been putting together a [library of commonly used Brigade jobs](https://github.com/radu-matei/brigade-utils). It is intended to be used as an NPM package, loaded into `brigade.json`.

Now, to showcase both scenarios (local deps + NPM packages loaded into `brigade.json`), I put together [this repo](https://github.com/radu-matei/brigade-javascript-deps).

I'll play with bot

[2019-01-29 17:26] vdice commented on #450
Yes!  So excited for that brigade-utils library, Radu!  Definitely can't wait to streamline our brigade.js files to reuse code that can live in this library.  (Will try to wait post-1.0 😄 )

[2019-01-29 18:24] chzbrgr71 commented on #748
If I were to create one of these, what is the proper folder in the docs?

[2019-01-29 18:32] radu-matei commented on #748
I think you can create a new directory under `docs/examples` called maybe `tutorials`?

[2019-01-29 18:44] radu-matei opened #789 "Migrate to brigadecore GitHub org"
This issue tracks the migration of the Brigade project to a new GitHub org.

Projects from the Azure org:

- [x]  https://github.com/Azure/brigade
- [x] https://github.com/Azure/brigadier
- [x] https://github.com/Azure/kashti
- [x] https://github.com/Azure/brigade-charts
- [x] https://github.com/Azure/brigade-k8s-gateway

(As per #746, https://github.com/Azure/brigade-github-app will be part of th

[2019-01-29 18:57] slok commented on #789
Good for me to move [brigadeterm](https://github.com/slok/brigadeterm) and [brigade-exporter](https://github.com/slok/brigade-exporter) to a more official and centralized org.

[2019-01-31 14:56] radu-matei opened #792 "Attach existing PVC for all jobs in build"
As part of defining the requirements for a ML pipeline using Brigade, one of the first identified questions is: how can I mount an existing data persistent volume and use it as input data for all jobs in the build (and possibly by multiple concurrent builds)?

Note that in this scenario, `ReadOnlyMany` would be required, as this volume would only be used as input data?

[2019-01-31 20:34] radu-matei opened #795 "Document how to create projects programmatically"
One example for creating projects programmatically is as part of CI, when you don't have access to an interactive shell.

We should better document how to pass files as flags for `brig project create` and how to "export" projects to a file for reuse.

[2019-01-31 21:04] vdice commented on #451
Closing now that #791 has been merged.

[2019-01-31 21:04] #451 closed

[2019-01-31 22:36] vdice commented on #747
We're getting close!!  Added @radu-matei as an asignee as I believe he's cooking up docs around remote/local js module use.

[2019-02-02 13:07] radu-matei commented on #789
Update: started testing around with the `brigadecore` organization, initially moved https://github.com/brigadecore/brigade-utils/ and we are good to go with the new org.

As we start moving repos there, we will also going to need to set up a Brigade instance for CI - I'll update the original issue with this as well.

[2019-02-05 00:37] vdice commented on #746
I started circling around this today, re-familiarizing myself with brigade-github-app and what it would look like to swap out Brigade's current/classic github gateway with the former.

However, before getting into the details of what this may look like -- though, I will mention, it _might_ just look like removing brigade's current gh-related files in `pkg/webhook` and swapping in those from brigad

[2019-02-05 12:43] radu-matei commented on #746
Sure, that makes sense - however, would it make sense to migrate it over to `brigadecore`?

[2019-02-05 16:04] radu-matei opened #796 "Integration with brigadeterm"
We've been discussing over in https://github.com/slok/brigadeterm/issues/56 about integrating [`brigadeterm`](https://github.com/slok/brigadeterm) into a `brig` command.

`brigadeterm` is a really helpful tool that, and in the current context we require users to configure two tools to interact with Brigade from the CLI. The purpose of the integration is to only configure and use one tool.

Ideally

[2019-02-05 20:06] vdice commented on #746
Pull requests are up with strategy mentioned above (remove older github gateway code/chart resources from Brigade in favor of opt-in approach to conditionally use brigade-github-app code/chart):

https://github.com/Azure/brigade/pull/797
https://github.com/Azure/brigade-charts/pull/22

PTAL @radu-matei @adamreese @technosophos

[2019-02-06 11:08] dgkanatsios opened #798 "[Design] CloudEvents support for Generic Gateway"
This is the design proposal for CloudEvents support for Generic Gateway, as discussed in #764

Currently, Generic Gateway listens to "/webhook" for a simple JSON payload and will raise a "webhook" event that should be handled by brigade.js.

Generic Gateway could support latest version of CloudEvents [v0.2](https://github.com/cloudevents/spec/blob/v0.2/spec.md). As per proposed implementation, Gen

[2019-02-06 11:48] radu-matei commented on #798
I think the design described here would be a great first iteration!

[2019-02-06 12:08] radu-matei commented on #764
Closing as the design proposal for this moved to #798.

[2019-02-06 12:08] #764 closed

[2019-02-06 13:11] vanto opened #799 "This recording has been archived"
The asciicinema screen recording (linked from the README) is not available anymore.

[2019-02-06 13:39] radu-matei commented on #799
Ah, thanks a lot for pointing it out!

[2019-02-06 19:13] vdice commented on #798
My only thoughts are at a higher-level around the future of gateways and Brigade.  I'm curious if it would be desirable that any additional gateways besides "legacy" (container registry, generic) should exist in separate repos and be pluggable by way of sub-charts to the main Brigade chart?

We're exploring this approach for the Github gateway as we transition to using a pluggable but separate bri

[2019-02-06 19:16] radu-matei commented on #798
@vdice - even with the current generic gateway, we have a separate IP for the service - the way we could help here would be to document how to properly set up an ingress with TLS, then expose a single public IP for your ingress, and not one for all gateways.

That being said, I fully agree on having multiple repos for gateways and composing them at the chart level.

[2019-02-06 21:19] radu-matei opened #800 "Indefinite behaviour when adding already existing dependencies to `brigade.json`"
A great point raised by @vdice in https://github.com/Azure/brigade/pull/787#discussion_r254444415 is the behaviour of the Brigade worker when certain dependencies are added to `brigade.json`.

Essentially, the worker has a list of dependencies:

[code]

When adding a new dependency to `brigade.json`, it is added side-by-side these dependencies (using `yarn` - see [`prestart.js`](https://github.com

[2019-02-06 21:22] radu-matei commented on #761
This would be fantastic!

[2019-02-06 23:45] radu-matei commented on #773
Hi, @Alxandr!
Did you have a chance to look over the steps needed for this? Is there anything we can help with at this point?

Thanks!

[2019-02-06 23:46] radu-matei commented on #450
Yay, fixed in #787.

[2019-02-06 23:46] #450 closed

[2019-02-06 23:50] radu-matei commented on #747
Yes!!
Thanks a lot, everyone!

And particularly, thanks to @vdice, who has been absolutely fantastic working on docs last few weeks.

[2019-02-06 23:50] #747 closed

[2019-02-07 07:34] Alxandr commented on #773
Yeah. Sorry, I got stuck in setting up backup of the cluster (let's just say brigade isn't the only thing not providing ARM images 😛 ). I have that part solved though, so I will probably be moving on to brigade later today (or this weekend).

[2019-02-07 12:52] radu-matei opened #802 "Pipefail not set on job"
According to the docs, by default, all job tasks are running in a shell with `set -eo pipefail`:

However, when the script that eventually runs all tasks is created, `pipefail` never seems to be actually set (https://github.com/Azure/brigade/blob/master/brigade-worker/src/k8s.ts#L972-L977):

[code]

This results in wrong exit code for piped tasks (see https://github.com/Azure/brigade/pull/801/chec

[2019-02-07 15:09] radu-matei commented on #754
Status update: I have officially wasted around 5 hours down various rabbit holes (`mocha` seems to have the same issue pointed above), and I'm taking another break from this.

[2019-02-07 18:44] radu-matei commented on #745
As we've been using `brig` to create projects for the last I think 5 versions now, there doesn't seem to be anything left from the project chart that is not yet in `brig project create`.

Thanks, everyone!

[2019-02-07 18:44] #745 closed

[2019-02-08 12:51] dgkanatsios commented on #798
thanks both for comments/review! A few things, mainly on context/naming:
1. @vdice you mention `generic gateway`. Just to be on the same page, I suppose you mean the single generic gateway with the two webhooks (the `simple` one - which is already implemented - and the `cloudevents` one - which this issue tries to design)
2. also @vdice you mention that `generic` gateway is considered `legacy`. I

[2019-02-08 19:12] vdice commented on #798
1. I indeed had in mind the current generic gateway with the one, current `simple` webhook

2. I'm using the `legacy` term here to denote gateways that were added directly to the Brigade project itself before we started following the pattern of creating them in separate repos/projects and including them into a Brigade setup at time of install.

3. Indeed, I was thinking that any new gateway would

[2019-02-08 19:48] Alxandr commented on #773
I've update the makefile to produce arm64 images. I've yet to test them though. Need to figure out how to do that best.

[2019-02-08 19:51] radu-matei commented on #773
That seems like a great start!
Feel free to open a work in progress pull request, so we can track all the work there and discuss any questions about the implementation along the way.

[2019-02-11 11:38] dgkanatsios commented on #798
got it, thanks @vdice! so, the question is whether to add 'cloudevents' endpoint to the existing generic gateway or create a completely new gateway. Some thoughts:
- if we the 'cloudevents' endpoint to the existing generic gateway, we do have the advantage that we will not need to generate another secret that protects the gateway access (the one set via GET [here](https://github.com/Azure/brigade/

[2019-02-11 16:54] radu-matei commented on #798
I think it makes sense to add another endpoint to the existing gateway.

[2019-02-11 18:10] vdice commented on #798
Agreed!  Thanks for helping me understand.

[2019-02-11 18:24] dgkanatsios commented on #798
thanks both, I'll work towards a PR for it on this repo. Maybe after v1.0 we can take the entire generic gateway out.

[2019-02-11 18:26] radu-matei commented on #798
Sure, we can look at having a separate repo in the new org.

[2019-02-12 07:22] floriankoch opened #804 "Generic Gateway always try to connect to api.github.com"
Hi,

brigade version 0.20.

I try to use the GenericGatweay with an internal bitbucket repository.
I can Connect to the GenericGateway via the Connection test
[code]

With a real commit, i got this error:
[code]

Does GenericGateway only supports github?

[2019-02-12 07:41] dgkanatsios commented on #804
thanks for reporting that, we'll take a look :)

[2019-02-12 10:17] dgkanatsios commented on #804
so, yes, Generic Gateway currently supports GitHub only.
The way we're using it is to get the contents of the "brigade.js" file in order to trigger a new Build.

I've been checking on how to implement BitBucket as well (and possibly other providers)
- currently we're using https://github.com/google/go-github which supports only GitHub
- https://github.com/hashicorp/go-getter could be an option but

[2019-02-12 15:52] radu-matei commented on #804
I'm having trouble understanding why we have GitHub specific libraries for this - it should simply get the request from the webhook and create the Brigade build - and it should be possible to use it directly without even a repo.

[2019-02-12 16:21] radu-matei opened #806 "Document using Brigade without a git repo"
If you look at the documentation, it might appear that you MUST have a git repo if you want to use Brigade. While the best practice has been to use a repo to store at least the `brigade.js` file, we should also show how to setup and use a project without ever using a git provider.

[2019-02-12 17:54] rmb938 opened #807 "Admission Controller when creating projects manually"
When creating brigade projects manually (i.e creating the secret manually) via terraform, ect... it would be nice to have some sort of validation against the secret to make sure it's setup correctly. This probably could be done via an admission controller. https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/

[2019-02-12 18:15] radu-matei commented on #807
And I think we can re-use the logic from `brig project create` for it.

[2019-02-12 19:53] vdice commented on #746
Both aforementioned PRs merged; closing.

[2019-02-12 19:53] #746 closed

[2019-02-12 22:19] #749 closed

[2019-02-12 23:45] vdice opened #808 "Default service account error"
Testing against master (https://github.com/Azure/brigade/commit/5e2fbe537713e9196273d757eb3c3cbf46803979) in prep for cutting a beta `v1.0.0` release and hit the following.

I'm seeing pre-existing (default/unconfigured when it comes to service account) Brigade project builds error out with:
[code]
It looks like the default service account is correct but that the regex matching needs fixing?

cc @

[2019-02-13 00:01] radu-matei commented on #808
Well, it may be more straightforward than anticipated - https://github.com/Azure/brigade/blob/master/brigade-worker/src/index.ts#L81

[2019-02-13 00:26] rmb938 commented on #808
Huh I'm pretty sure I tested that :man_shrugging:

@vdice Can you post the environment of the brigade worker as it shows in the pod yaml?

[2019-02-13 00:27] radu-matei commented on #808
@rmb938 - it might have to do with:

[code]

The slashes are become part of the string to be tested against.

[2019-02-13 00:28] rmb938 commented on #808
ah. Possibly, I didn't see that error when testing though which is strange.

[2019-02-13 00:31] vdice commented on #808
Indeed, removed the slashes and no longer hit the error.

The worker env was:
[code]
So, looked good there.

How about we merge the quick fix of removing the slashes and then follow-up with wrapping in unit tests as time permits?  (A new `index.ts` test file, perhaps?)

[2019-02-13 00:32] rmb938 commented on #808
Will do! I must have read the docs wrong on the match function.

[2019-02-13 00:33] radu-matei commented on #808
Sure. @vdice  - I assume you have a patch for this?
I volunteer to add the tests.

[2019-02-13 00:33] radu-matei commented on #808
That was fast, thanks!

[2019-02-13 00:36] #808 closed

[2019-02-13 00:36] vdice commented on #808
Thanks for the quick response @rmb938 !

[2019-02-13 09:35] dgkanatsios opened #810 "brig build list mentions wrong time for failed Builds"
Output of `brig version`: 0.20.0

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AKS

brig build list command mentions wrong AGE for failed builds. This number should be something more relevant.

[code]

[2019-02-13 11:53] dgkanatsios commented on #810
Hm, `Age` mentions [PodEndTime](https://github.com/Azure/brigade/blob/master/brig/cmd/brig/commands/build_list.go#L112), I think it should be StartTime. I'll proceed with a PR.

[2019-02-13 14:51] dgkanatsios commented on #807
Writing an admission webhook can be quite tricky, maybe we could examine something like OpenPolicyAgent https://github.com/open-policy-agent/gatekeeper, maybe it can be customized to suit our purposes.

[2019-02-13 14:54] rmb938 commented on #807
@dgkanatsios How so? An admission controller is just an http server that accepts an input object and outputs true or false, with the client-go library it is very straight forward and can be about 200 lines of code. The only difficult part is generating certificates because they only can be https.

[2019-02-13 14:55] dgkanatsios commented on #806
I think this scenario is a good match/aligned with a Generic Gateway tutorial, since one could "hit" the GW endpoint and activate a Build, without and VCS interaction whatsoever.

[2019-02-13 14:58] dgkanatsios commented on #807
Exactly this. I've written one [here](https://github.com/dgkanatsios/azuregameserversscalingkubernetes/blob/master/pkg/apiserver/webhookserver/run.go) and the most difficult task was to get the https working. I didn't even attempt to let the user generate them :) In any case, if we can find pre-made code for that, that would be lovely I think.

[2019-02-13 15:05] rmb938 commented on #807
Sure I see how that could be a difficult task for the user if they are not familiar with how to do it and how things are deployed.

This is somewhat of an advanced feature so I guess just having documentation about using gatekeeper and having a sample policy may be good enough? :man_shrugging:

[2019-02-13 15:07] dgkanatsios commented on #807
probably... I haven't taken a deep look at the gatekeeper TBH, not sure if it does support our scenario. But it would be definitely be a good idea to validate those `non-brig-created` Projects.

[2019-02-13 21:40] vdice commented on #504
First v1.0.0 beta tag cut: https://github.com/Azure/brigade/releases/tag/v1.0.0-beta.1

[2019-02-15 14:56] radu-matei commented on #748
cc @kooba for a tutorial on creating preview environments for pull requests.

[2019-02-15 17:39] kooba commented on #748
👍 @radu-matei I'm working on another tutorial for `nameko-grpc` at the moment. As soon as I'm done with that I'll jump on this tutorial.

[2019-02-15 19:46] lukepatrick commented on #789
I would be good moving brigade related projects to a central org.

[2019-02-18 12:55] dgkanatsios commented on #775
Just a heads-up that I've started experimenting with this on a small project of mine that includes a custom controller. For reference, [here's](https://github.com/kubernetes/client-go/tree/master/tools/leaderelection) the `leaderelection` library on client-go, [here's](https://github.com/kubernetes/client-go/blob/master/tools/leaderelection/example/main.go) the provided example and [here's](https:

[2019-02-20 12:00] #810 closed

[2019-02-22 01:19] radu-matei opened #815 "brig check command"
It would be really helpful to have a `brig check` command, similar to the [Linkerd Check](https://linkerd.io/2/reference/cli/check/) command, that makes sure you have access to the cluster, and that all components required for Brigade are running properly.

[2019-02-22 01:55] radu-matei opened #816 "brig project create templates"
It would be really helpful if `brig project create` would have a template for a Git vs non-Git projects at creation time. When selecting the non-Git option, the following would happen:

- repository information would not be configurable
- clone URL information would not be configurable
- the custom VCS sidecar would be automatically set to `NONE`
- Git submodules inforrmation would not be configur

[2019-02-22 02:16] #804 closed

[2019-02-22 11:07] dgkanatsios commented on #816
I'd love that. Currently, the second prompt of `brig project create` asks for a repo, which, to the eyes of a new user, makes Brigade appear as a VCS-centric utility. We should align this with the docs enhancement (i.e. provide more non-Git samples).

Do you think that a simple prompt `Do you want Brigade to pull files from a Git repo on every Build?` after naming the project would suffice?

[2019-02-22 11:12] dgkanatsios commented on #815
Nice one. From a design point of view, I suppose that this utility could check some (if not all) of:
- connection to the cluster
- existence of the Brigade API server deployment with >=1 running Replicas
- existence of the Brigade controller's deployment with >=1 running Replicas
- existence of the vacuum CronJob
- check for RBAC rules (`kubectl auth can-i`)

Anything else?

[2019-02-25 19:29] #798 closed

[2019-02-26 00:48] vdice opened #820 "CI: add test jobs to publish/release pipeline"
Brigade's release pipeline (as described in https://github.com/Azure/brigade/blob/master/brigade.js#L342-L371) doesn't run the [test jobs](https://github.com/Azure/brigade/blob/master/brigade.js#L59-L66) that we run on PR and master merge events.

It would be nice to add these checks in the release pipeline for an extra bit of confirmation -- and to prevent the pipeline from proceeding if the tag

[2019-02-27 03:47] radu-matei opened #823 "If host.os is set to Windows, override bash script with a Windows alternative."
Right now, regardless of the operating system of the job specification, the entrypoint of the container is a bash script -- meaning it cannot run Windows containers.

[2019-03-01 18:45] radu-matei opened #824 "Run yarn audit as part of the build process"

[2019-03-05 21:26] flynnduism opened #827 "Docs: remove custom navigation"
Follow-up to the new docs theme (#814)

@dgkanatsios pointed out that the hard-coded custom navigation at the bottom of some of the docs can be removed, as the new theme will auto-add previous and next links to the end of each page

![https://user-images.githubusercontent.com/8256138/53825654-76521c80-3f7f-11e9-8289-a33612f88382.PNG](https://user-images.githubusercontent.com/8256138/53825654-76521

[2019-03-05 21:32] flynnduism opened #828 "Docs: add a table of contents to theme layout"
A request from @radu-matei, as a follow up to #814.

[2019-03-06 22:36] vdice opened #830 "Proposal: Untrack <component>/rootfs entirely"
A really minor proposal here, but something that was bugging me.

As far as I can tell, the only reason we check in the separate `<brigade component>/rootfs` directories is due to the sole use of a [README](https://github.com/Azure/brigade/tree/master/brig/rootfs) in `brig/rootfs` -- the rest of the component directories are empty.

Perhaps we remove the aforementioned README and ignore these dire

[2019-03-08 08:05] dgkanatsios opened #834 "[docs] Links on getting started page"
Links [here](https://docs.brigade.sh/intro/) don't work any more, fyi @flynnduism
What would be the best way to fix it? Remove `.md` works but maybe they can auto-generated?

[2019-03-08 16:01] dgkanatsios commented on #834
Same problem [here](https://docs.brigade.sh/topics/)

[2019-03-08 18:11] flynnduism opened #835 "[docs] disable github pages website"
Now that `docs.brigade.sh` is up and running, this repo's github pages site can be decommissioned.

![screen shot 2019-03-08 at 10 09 59 am](https://user-images.githubusercontent.com/686194/54046892-7a9e5580-418a-11e9-9b11-e8ff2d66c1fb.png)

The changes have broken jekyll, triggering these errors when PRs are merged. We need an admin on the repo to be able to edit the settings.

[2019-03-08 18:36] #834 closed

[2019-03-08 22:01] flynnduism commented on #835
@radu-matei has disabled github pages for this repo. Closing this now

[2019-03-08 22:01] #835 closed

[2019-03-08 22:01] radu-matei commented on #835
Great, assign the blame to me, @flynnduism 😂

[2019-03-08 22:03] flynnduism commented on #835
nothing to see here

![https://media.giphy.com/media/ScmA88oVeD78aEpd2O/giphy.gif](https://media.giphy.com/media/ScmA88oVeD78aEpd2O/giphy.gif)

[2019-03-12 16:50] vdice opened #839 "Docs/CI: Ability to preview generated docs sites for PRs"
The [docs makeover](https://github.com/Azure/brigade/pull/814) by @flynnduism is so nice.  Just check out https://docs.brigade.sh !

I'm curious if we'd be able to add a CI step to preview/check rendered docs from PR branches?  For instance, on a recent PR, we weren't entirely sure how to be certain that doc pathing updates will render appropriately; see https://github.com/Azure/brigade/pull/831#d

[2019-03-12 17:53] flynnduism commented on #839
@vdice by default Netlify will do this with new PRs, **but** first we have to resolve a GitHub permissions issue. Currently Netlify isn't approved for this `github.com/Azure/brigade` repo. I've sent an app request.

![Screen Shot 2019-03-12 at 10 47 38 AM](https://user-images.githubusercontent.com/686194/54223276-61f8ad00-44b4-11e9-9d0f-262de8d5e88f.png)

Until it can get proper access to `master`

[2019-03-12 18:05] flynnduism commented on #839
Ok, the benevolent @michelleN added me to repo admins, and I can see that Netlify access is not granted there. I gotta check with Azure admins...

@vdice do you have any pointers on this? I'm assuming you had to follow a similar process for the `deislabs-ci` config...

![Screen Shot 2019-03-12 at 11 01 44 AM](https://user-images.githubusercontent.com/686194/54224371-9f5e3a00-44b6-11e9-896b-2922fe7

[2019-03-12 18:47] flynnduism opened #840 "[docs]: setup redirect rules for *.md internal links"
In transitioning from GitHub repo-hosted docs to a Hugo docs website, there are conflicts that can appear in how urls are structured. @dgkanatsios has tackled a bunch of this via #831

Ideally it would be good to have urls that work in either format, so you can successfully browse through the markdown on GitHub.com as well as on docs.brigade.sh

Example of this can be [seen here](https://github.co

[2019-03-12 19:10] flynnduism commented on #840
The netlify.toml can handle this by adding extra config. See [helm example](https://github.com/helm/helm-www/blob/master/netlify.toml#L11L19) here.

* [Redirect Rules for All; How to configure redirects for your static site](https://www.netlify.com/blog/2019/01/16/redirect-rules-for-all-how-to-configure-redirects-for-your-static-site/#structured-configuration-with-netlify-toml)
* [Netlify Docs: Re

[2019-03-13 17:42] #827 closed

[2019-03-14 19:14] radu-matei opened #841 "Wrong worker version in package.json"
We're currently in the `1.0.0-betaX`, but the `package.json` still reports `0.20.0`.

https://github.com/Azure/brigade/blob/master/brigade-worker/package.json#L3

[2019-03-14 19:39] radu-matei opened #842 "Events generated by the generic gateway should be consistent with their path"
The event type generated by the generic gateway are `cloudevent` and `simpleevent`. This is rather confusing, given that the paths for the two are pluralized.

This can result in a lot of confusion.

[code]

[2019-03-14 20:21] #841 closed

[2019-03-14 20:53] dgkanatsios commented on #842
We generally use singular words on event types, no?
E.g. https://github.com/Azure/brigade/blob/master/pkg/webhook/dockerhub.go#L77 "image_push"
https://github.com/Azure/brigade-github-app/blob/master/pkg/webhook/github.go#L67 also singular as well

[2019-03-14 21:22] radu-matei commented on #842
That also makes sense...

Can we at least have another notice in the docs about this?

[2019-03-15 06:20] floriankoch opened #844 "Allow setting AllowedProcMountTypes to unmask"
To allow unprivileged builds e.g with img or buildah, unmasked acces to /proc is needed
in kubernetes 1.13 is a new setting for this
AllowedProcMountTypes

it should be possible to ativate this via an option  similar to enable.docker
e.g enable.unmaskedproc

[2019-03-15 11:13] dgkanatsios commented on #844
Not sure if I grok this correctly, what disallows you to create a [Pod Security Policy](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#example) with the required [AllowedProcMountTypes](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#allowedprocmounttypes)?

[2019-03-15 15:08] f0 commented on #844
@dgkanatsios   afaik it needs to be set in the worker pod spec  or not?

[2019-03-15 15:17] floriankoch commented on #844
@dgkanatsios afaik it needs to be set in the worker pod spec or not?
So wee ned a psp and set this in the pod spec , the same as with privileged, you need a psp and a setting in the pod spec

[2019-03-15 15:51] dgkanatsios commented on #844
To be honest I haven't checked this feature before. From a quick search I can't find if it needs to be set in the Pod Spec, all the [code references](https://github.com/kubernetes/kubernetes/search?q=allowedprocmounttypes&unscoped_q=allowedprocmounttypes) are related to Pod Security Policy.
Are you aware whether this needs to be set in the Pod Spec?

[2019-03-15 17:26] #842 closed

[2019-03-15 18:13] floriankoch commented on #844
@dgkanatsios   its specified in https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#securitycontext-v1-core  and its in the container spec - not the pod spec as i thought

[2019-03-16 23:35] radu-matei opened #846 "Should the vacuum also delete the other vacuum pods?"
Are there any downsides if the vacuum would also delete other completed vacuum pods?

[2019-03-17 00:36] radu-matei commented on #846
Should have actually checked before opening the issue. Closing.

[2019-03-18 06:27] dgkanatsios commented on #844
Thanks, so we need to extend the Job object on [Brigadier](https://github.com/Azure/brigadier) and modify the Worker here to support this. This is related to #735.

[2019-03-18 06:38] dgkanatsios commented on #735
I had another thought about that. Instead of packaging the Kubernetes Pod Spec definition (and creating another dependency), we could probably tackle this in another way. Make the Job object accept a map/dictionary of string values, which will be set by the Worker on the actual Pod.

E.g.
- "key1" is a field on the Pod
- "key2" is a field on a fictional "obj1" on the Pod
- "key3" is a field on the

[2019-03-24 01:42] joeizy commented on #840
Not sure if you are referring to the same issue or I should create a new one but there are several links throughout the docs site https://docs.brigade.sh/ which result in a `Not Found` page. One example is the links to the individual gateway doc pages (`Container Registry Gateway`, `GitHub Gateway`, and `Generic Gateway`) from the [Gateways Topic Page](https://docs.brigade.sh/topics/gateways/).

T

[2019-03-24 19:53] flynnduism commented on #840
That's correct @joeizy - there's a mismatch in some urls. Next item on my list to work on!

[2019-03-25 21:00] dgkanatsios commented on #840
some images towards the bottom on this page do not load as well: https://docs.brigade.sh/topics/design/

[2019-03-26 19:44] vdice opened #852 "META: Update licenses across brigadecore repos"
For Brigade repos migrated from the Azure org (or other contributor orgs), licenses may still need to be updated to de-reference Microsoft (or other).

As an updated example, see https://github.com/brigadecore/charts/blob/master/LICENSE

Repos include:
 - [x] https://github.com/brigadecore/brigade (this one)
 - [x] https://github.com/brigadecore/brigade-github-app
 - [x] https://github.com/brigade

[2019-03-26 19:47] vdice opened #853 "META: Add DCO to brigadecore repos"
For Brigade repos migrated from the Azure org (or other contributor orgs), we may still want/need to add instructions on how contributors can accept Developer's Certificate of Origin and sign their commits accordingly.

Repos include:
 - [x] https://github.com/brigadecore/brigade (this one)
 - [x] https://github.com/brigadecore/brigade-github-app
 - [x] https://github.com/brigadecore/kashti
 - [x]

[2019-03-27 17:12] vdice commented on #789
@radu-matei the repos listed in the description have now moved to the [brigadecore](https://github.com/brigadecore/) and so I believe we are able to close this one out.

I left the mailing list item unchecked -- do we have those set up yet?

[2019-03-27 18:28] vdice commented on #852
PRs have been submitted to all of the repos listed above in the description...

[2019-03-27 22:51] vdice commented on #839
Netlify has been added and appears to be working great!  Thanks again @flynnduism !

[2019-03-27 22:51] #839 closed

[2019-03-27 23:47] radu-matei commented on #789
@vdice -- we have a maintainer mailing list, and I'll ask CNCF about a user mailing list this week. I think we can safely close this issue, thanks, everyone!

[2019-03-27 23:47] #789 closed

[2019-03-28 15:49] #852 closed

[2019-03-28 16:08] vdice opened #856 "Publish to registry(ies?) that supply desired telemetry"
Brigade currently publishes its images to the [brigadecore](https://hub.docker.com/u/brigadecore) DockerHub org.  All Helm charts and documentation reference these images for pulling down.

However, we may require telemetry not provided by this registry and so may wish to publish to another registry that can provide this.  As a background on this request, see https://github.com/brigadecore/brigade

[2019-03-28 18:47] flynnduism opened #859 "[docs] custom sort order of menu"
As @dgkanatsios pointed out in #851 - the docs site menu is a pain to re-order. It auto generates **alphabetically** based on the markdown contents of each folder.

![Screen Shot 2019-03-28 at 11 47 17 AM](https://user-images.githubusercontent.com/686194/55184405-472e6580-514f-11e9-958b-2fad2cc7cb9f.png)

---

Ways to improve it:

1. hard code a custom menu into the site `config.toml`, which ignor

[2019-03-28 19:08] caniszczyk opened #860 "Move to CNCF's code of conduct"
https://github.com/cncf/foundation/blob/master/code-of-conduct.md

[2019-03-28 19:09] caniszczyk opened #861 "Enable FOSSA for license scanning"
https://fossa.com

CNCF has a deal with FOSSA, just enable it for your repo and let me know when it's done.

[2019-03-28 19:10] caniszczyk opened #862 "Adopt CII Best Practices Badge"
Get a silver badge: https://bestpractices.coreinfrastructure.org/en

[2019-03-28 19:33] vdice commented on #504
https://github.com/brigadecore/brigade/releases/tag/v1.0.0 is out!  Thanks, all!

[2019-03-28 19:33] #504 closed

[2019-03-28 19:35] vdice commented on #853
All PRs issued; closing.

[2019-03-28 19:35] #853 closed

[2019-03-29 14:06] dgkanatsios commented on #859
+1 for `config.toml`, seems like the most elegant solution. Order in [Getting Started](https://docs.brigade.sh/intro/) is good now (even with `A Brigade Quickstart` whereas order in the [topics](https://docs.brigade.sh/topics/) would definitely need some love.

[2019-03-31 12:32] ysaakpr opened #866 "Suggested way for setting max parallel build"
Found that, Brigade is one of very easy to use CI/CD tool, because of the language selection and simplicity.

In my project, I want to ensure that for some projects, no parallel execution allowed, mostly the deployment process, and in case there are multiple builds triggered for a project, I want only one at a time to process, Are there any suggested way to do the same.

So I am looking for the fo

[2019-03-31 12:38] dgkanatsios commented on #866
Related discussion on #172

[2019-04-01 13:47] chris-chambers opened #867 "Race condition when installing brigade.json dependencies"
Output of `brig version`: `v1.0.0`

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): `AWS, custom`

---

When installing dependencies from `brigade.json`, the `addYarn` function returns a promise, but `addDeps` calls `addYarn` in a loop and does not wait on these promises to resolve.  This leads to multiple racing `yarn` processes that clobber each others' ef

[2019-04-01 13:50] chris-chambers commented on #867
Oh, it would also be possible to invoke `yarn` just once with all the dependencies to install.  This would make installing faster, but might reduce the quality of error messages.

[2019-04-01 14:00] mumoshu commented on #867
@chris-chambers Thanks for reporting, and good catch!

I think it's fine to invoke `yarn` just once with all the deps. It will still produce an useful error message like the below on invalid dep, for example:

[code]

[2019-04-01 14:46] chris-chambers opened #868 "Module resolution in local dependencies is counter-intuitive"
Inside [local dependencies](https://docs.brigade.sh/topics/dependencies/#using-local-dependencies-from-the-project-repository), `require` behaves counter-intuitively.

There are two problems:

### Brigadier Aliases
In `prestart.js`, `require` is replaced by a custom function that allows several aliases of `brigadier` to be resolved.  But, this aliasing is not available in any required local depend

[2019-04-01 15:22] chris-chambers commented on #868
To repro the first:

**brigade.js**
[code]

**brigade-local.js**
[code]

---

And the second:

**brigade.json**
[code]

**brigade.js**
[code]

**brigade-local.js**
[code]

[2019-04-01 16:54] #859 closed

[2019-04-01 17:52] radu-matei commented on #868
Oh, thanks for catching this!

I think I like the proposed solution here -- I'm going to research a bit about how `module-alias` works, and other implications -- and we'll most likely discuss this over the dev standup which is Tuesdays, 9:30 AM PST (you're more than welcome to join).

I'll update the issue after I have a better understanding of how it would actually work -- also, let me know if yo

[2019-04-01 17:54] radu-matei commented on #867
Yes, nice catch -- and a single `yarn install` is acceptable, with the error above.

[2019-04-01 19:23] chris-chambers commented on #868
I've been looking through `module-alias` for any potential landmines, but it looks like they cover the cases I can think of correctly (transitive dependencies could be weird, but they seem to limit the aliasing to "top-level modules were not installed", which means nothing inside `node_modules` would see the extra paths).

How would I join your standup?  I may have time to drop by tomorrow.  In th

[2019-04-01 19:48] radu-matei commented on #868
Ok, that sounds great!

Brigade Developer Standup - Tuesdays, 9:30 AM PST - https://zoom.us/j/280806496

Also, if you’re on the Kubernetes Slack, the #brigade channel.

[2019-04-01 22:28] AlverezYari commented on #816
Can confirm.. new user trying it out for the first time today and that was the impression I got. Also curious if you actually have to have a `job.task = ["somethinghere?"]` command in your brigade.js file. The containers we'll be using already have entry points defined, we really just want Brigade to run them to completion in a set order.

[2019-04-04 12:22] radu-matei opened #872 "Add process for vulnerability reporting"

[2019-04-04 12:42] radu-matei commented on #862
Opened #873 to address this.

[2019-04-04 12:49] radu-matei commented on #861
Enabled - see https://app.fossa.com/projects/git%2Bgithub.com%2Fbrigadecore%2Fbrigade/refs/branch/master/0f46d85fed13d699e332efe5acfc2a06c76f9cab/preview

[2019-04-04 13:26] radu-matei commented on #861
Also see https://github.com/brigadecore/brigade/pull/874

[2019-04-04 20:59] #860 closed

[2019-04-04 22:18] radu-matei opened #877 "Fix failing CI badge"

[2019-04-06 16:38] #806 closed

[2019-04-06 16:51] radu-matei opened #879 "End to end testing for Brigade"
I think it's time we started end-to-end tests for Brigade. To achieve this, we first need to build and push container images for Brigade components for all pull requests (#761).

Then, I think we have the following approaches we could take:

- we can deploy Brigade in a new namespace, following [this really cool article on how to create preview environments with Brigade](https://medium.com/devopsl

[2019-04-08 06:15] dgkanatsios commented on #879
I've been playing a bit with [kind](https://github.com/kubernetes-sigs/kind) and I really like it.
[Here's](https://github.com/dgkanatsios/azuregameserversscalingkubernetes/tree/master/e2e) what I've been doing with my project. Steps:

- use the [run.sh](https://github.com/dgkanatsios/azuregameserversscalingkubernetes/blob/master/e2e/run.sh) to `kubectl create` my Deployments. Similarly, we could

[2019-04-08 06:19] dgkanatsios commented on #877
I see "Pass" right now, or I'm missing something?

https://camo.githubusercontent.com/59bb282978dee2a5dc5064a5f3e5bba569404bd5/687474703a2f2f6261646765732e746563686e6f736f70686f732e6d652f76312f6769746875622f6275696c642f417a7572652f627269676164652f62616467652e7376673f6272616e63683d6d6173746572

[2019-04-08 06:21] dgkanatsios commented on #862
Close?

[2019-04-08 06:53] dgkanatsios opened #882 "Use Go modules"
Now that Go module support has been merged into the upstream Kubernetes ([1](https://github.com/kubernetes/kubernetes/pull/74877), [2](https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md)), maybe we could discuss how to manage Brigade's vendor folder with Go modules.

[2019-04-08 15:28] dgkanatsios opened #883 "Better sorting of "Topic Guides""
Currently "Topic Guides" on Brigade documentation ([https://docs.brigade.sh](https://github.com/brigadecore/brigade/blob/master/docs/config.toml)) are not sorted optimally (e.g. "Advanced Scripting" appears earlier than "Scripting Guide"). We should alter their order for better readability.

For reference, we need to modify `config.toml` [here](https://github.com/brigadecore/brigade/blob/master/do

[2019-04-08 15:31] dgkanatsios opened #884 "404s on Scripting Guide on Docs"
[Scripting Guide](https://docs.brigade.sh/topics/scripting/) contains links to some .js files, which currently 404. This is probably because of the move to the new docs platform.

For reference, these links should point to the files listed here: https://github.com/brigadecore/brigade/tree/master/docs/content/examples

[2019-04-08 15:34] dgkanatsios commented on #816
Have you checked the scripting guide [here](https://docs.brigade.sh/topics/scripting/) on how to write the brigade.js file? Jobs run asynchronously but you can chain them together using JS Promises:

[code]

[2019-04-08 15:36] dgkanatsios commented on #816
@radu-matei
question: on the **new** `brig project create`, if you do want to create a VCS Project, would you be able to configure Generic Gateway secret? I guess not, since if you use a VCS you wouldn't need another Gateway. WDYT?

[2019-04-08 16:10] AlverezYari commented on #816
@dgkanatsios Yep, working through it now. I was just curious if you had to have to actually have anything within task brackets, or if you left it blank it would still run the container with its default set entry point which appears to appears to work fine.

[2019-04-10 14:55] krancour opened #886 "document worker image requirements better"
This section covers custom worker images: https://docs.brigade.sh/topics/workers/

But it also seems to make an assumption that customizing a worker image is only accomplished by extending an existing image and adding in additional JS libraries and really only covers this scenario.

I've been creating a new worker from scratch (as part of an experiment to integrate with a new pipeline model) and i

[2019-04-10 17:09] krancour opened #887 "intro/install has broken storage doc link"

[2019-04-10 21:42] krancour opened #888 "proposal: check suite forwarding should not apply to closed prs"
Currently, it seems that with check suite forwarding enabled, even a `pull_request:closed` event gets forwarded as a `check_suite:rerequested` event...

This seems like it's probably undesirable. I'm not sure under what circumstances anyone would want to use resources to execute a pipeline against a closed PR.

[2019-04-10 21:45] krancour commented on #888
Err...

Amending the above.

I can totally see wanting to do _something_ in response to a `pull_request:closed` event and explicitly including a handler for that in their `brigade.js`, it's specifically automatic re-requesting of the check suite that seems odd.

[2019-04-11 07:52] dgkanatsios commented on #887
Created #889 to fix that, thanks!

[2019-04-11 14:56] radu-matei commented on #816
@AlverezYari -- yeah, not passing tasks should execute the default entrypoint of the container.

@dgkanatsios -- no, nothing Cobra-related, I used _template_ as a way to differentiate between the VCS vs. non-VCS scenarios.

[2019-04-11 14:58] krancour opened #890 "proposal: project level event filters"
I see a lot of builds running that ultimately do nothing because the brigade.js they execute doesn't respond to any events. This can get _really_ noisy.

As a for instance, suppose that I am using Brigade for CI and building on checksuite:* events. Builds will still be triggered for PR open, assign, synchronize, close, etc. This leads to a massive accumulation of builds that didn't do anything whi

[2019-04-11 14:59] #884 closed

[2019-04-11 15:34] krancour opened #891 "Question: Event name clashes?"
Is it potentially problematic that two gateways could emit different events by the same name?

I am imagining, for instance, the Github gateway and a hypothetical Bitbucket gateway _both_ emitting events like `push` and `pull_request` (among others). Given that the event payloads are likely to be different from one another, it should not be taken for granted that a handler that can respond to a gi

[2019-04-11 17:36] krancour commented on #888
Realizing now that this should have been opened against [brigade-github-app](https://github.com/brigadecore/brigade-github-app) instead.

[2019-04-11 17:36] #888 closed

[2019-04-12 00:52] #887 closed

[2019-04-12 06:13] dgkanatsios commented on #890
There is the `vacuum` utility (details [here](https://docs.brigade.sh/intro/quickstart/) towards the bottom) that has a duty to cleanup completed Jobs (after they happen, though), so I do get your point.

Can't you configure your VCS to not send these `checksuite:*` events?

[2019-04-12 13:19] #815 closed

[2019-04-12 17:21] krancour commented on #890
The specific problem here is that I want the GH gateway to receive GH events (such as prs) so that it can forward checksuite requests and then emit those to brigade-- since those are the events I am really interested in. But the GH will still emit the pull request events that I am uninterested in. If I unsubscribed to either prs or check suite requests, the gateway wouldn't get what it needs.

[2019-04-15 15:04] LittleColin opened #895 "Cache PVC using repository not project name which often (for us) exceeds 63 char limit"
When setting myJob.cache.enabled = true, the PVC created uses the project's _repository_ not just the project name. This is probably not too much of an issue when using github.com as it's relatively short, but we have custom git instances that have much longer names. This combined with the org and the repo name easily exceeds the allowed PVC name of 63 characters making the cache unusable for us.

[2019-04-15 17:03] radu-matei commented on #895
I haven't had a chance to properly look at how the project name propagates, and need to have a closer look, but I in most cases the project name itself contains the repo:

https://github.com/brigadecore/brigade/blob/master/brig/cmd/brig/commands/project_create.go#L58

What happens if you explicitly omit the repo from the project name (remember to set the clone URL correctly)?

That being said, I d

[2019-04-15 18:50] frazerk opened #896 "Document using brigade-project chart for creating projects during deployment"
We're looking into using brigade to deploy a component of our application. All of the other components are deployed via helm, and deployments themselves will be managed using istio.

Ideally, we'd be able to deploy brigade itself, the rest of our app, and the project all via helm charts. Considering the `brigade-project` chart has been deprecated in favor of `brig project create`, what is the reco

[2019-04-15 20:52] LittleColin commented on #895
Thanks for the reply. Just to be clear I'm not including the DNS of the SCM in the project name. Based on the example in the docs [tutorial 3](https://docs.brigade.sh/intro/tutorial03/) there are three properties:

$ brig project create
? **Project Name** bacongobbler/uuid-generator
? **Full repository name** github.com/bacongobbler/uuid-generator
? **Clone URL** (https://github.com/your/repo.git)

[2019-04-17 08:50] kooba commented on #896
We've talked about this yesterday during standup and I promised to add my 2¢ here.

I've been using helm charts to deploy projects as well. There is only one reason I've done that and it's that I'm able to set values with `--set abc=xyz` at the deployment time and use that feature to usually set some secrets by referencing env vars like `--set github.token=$(GITHUB_TOKEN)`.

At the moment with `br

[2019-04-17 16:55] krancour commented on #886
@radu-matei can you assign this issue to me, please?

[2019-04-17 16:58] krancour commented on #886
Starting a short list of things as I uncover them. I'll circle back and document later. Just don't want to lose these:

1. Document the environment variables that the brigade controller will inject into the worker. These are an implicit interface between controller and worker.
1. Document how custom workers should name and label any pods (and other things?) that it creates to ensure other Brigade

[2019-04-17 20:13] #867 closed

[2019-04-17 20:27] vdice opened #898 "Brigade-Worker error may leak sensitive information"
The brigade-worker component may log an error that, in addition to be overly verbose in my opinion, can also contain sensitive information - particularly, the Authorization Bearer Token and host values included in the POST to the kubernetes api server.  This presents a problem if the build logs are publicly available.

A quick way to reproduce this error is to attempt to run two jobs with the same

[2019-04-18 16:57] #868 closed

[2019-04-19 15:48] krancour commented on #340
This is actually really hard to do _in Kubernetes_ right now, but there's a KEP open to straighten that out.

Here are related issues:

* https://github.com/kubernetes/kubernetes/issues/25908
* https://github.com/kubernetes/enhancements/issues/753

[2019-04-23 13:40] krancour opened #899 ""VCS sidecar" is a misnomer"
The thing currently referenced both in documentation and code as the "VCS sidecar" isn't properly a sidecar, but rather an init container.

I'm not trying to be overly pedantic by raising this; rather there is some part of me that was thrown off by this misnomer when I was trying to learn Brigade and I cannot help but wonder wether it may have the same effect for others.

If there were a consensus

[2019-04-24 23:47] krancour commented on #899
When discussed during the weekly meeting, it was agreed that there are some places, such as in Helm charts, where we cannot correct this misnomer without incurring a breaking change.

The agreed upon solution is that we will acknowledge the misnomer in the documentation and call out the fact that what is colloquially known as the "VCS sidecare" is _actually_ an init container.

[2019-04-24 23:47] krancour commented on #899
@radu-matei assign to me, please?

[2019-04-24 23:52] krancour commented on #890
I will prototype something to see what this looks like.

[2019-04-25 01:09] radu-matei commented on #890
I seem to recall that we discussed this during last week's meeting - a project-level property that would contain events to respond to / ignore should also maintain backwards compatibility.

[2019-04-25 16:26] #898 closed

[2019-04-25 17:13] #883 closed

[2019-04-26 08:36] LittleColin commented on #895
@radu-matei I can confirm that changing "Full repository name" to match the Project Name worked for us. Therefore (based on example), the values are:

- Project Name bacongobbler/uuid-generator
- Full repository name bacongobbler/uuid-generator
- Clone URL (https://github.com/your/repo.git) https://github.com/bacongobbler/uuid-generator.git

I guess the issue could be closed but perhaps there's a

[2019-05-07 14:55] gfrankel1997 opened #901 "Brigade Build does not fail for sequential Jobs (unless it's the first Job)"
Actual Behavior: Brigade Build always succeeds if first Job succeeds. Tested with both promise chains and groups.

Expected Behavior: Brigade Build should fail if any Job fails

[code]

Kashti Dashboard:
![Screen Shot 2019-05-07 at 10 50 56 AM](https://user-images.githubusercontent.com/27391950/57309440-1595ac00-70b6-11e9-8d0f-36186e980ce0.png)
![Screen Shot 2019-05-07 at 10 50 34 AM](https://user

[2019-05-07 16:16] vdice commented on #862
To echo @dgkanatsios , this issue looks like it can be closed, correct @radu-matei ?

[2019-05-07 18:26] gfrankel1997 opened #902 "Intended timeout behavior?"
What is the intended behavior when a Build times out? Brigade does throw an error which can be caught, but the Job continues to run.

Actual Behavior: Brigade Job continues to run after timeout
Expected Behavior: Brigade Job is stopped

Output of `brig version`:
```v1.0.0-23-g1b849be```

Output of `kubectl version`:
```Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCo

[2019-05-08 15:17] krancour opened #904 "Enhancement: Add worker command flag to the controller"
Using `brig project create`, I can override the worker image (to use something custom) at the project level and this includes the option to override the command that is invoked in the worker container.

Supposing, however, that I'd like Brigade to default to using my custom worker image, I can do so by setting the right values during `helm install`, which will, in turn, set the right flags on the

[2019-05-08 15:18] krancour commented on #904
I should add that I'd be happy to implement this myself if maintainers agree with this proposal.

[2019-05-08 15:21] vdice commented on #901
@gfrankel1997 This may be a case of inadequate documentation.

In the example provided above, since errors are caught via the `catch` statement, the pipeline won't fail unless we explicitly tell it to (say, via a `throw`).  This design enables finer control over when and how a pipeline might fail (say, with retry or other logic in the aforementioned `catch` section to handle particular job errors

[2019-05-08 17:06] radu-matei commented on #904
Yeah, once we consider Brigade controller that don't necessarily extend on the default worker that we ship by default, this becomes a requirement, and in my opinion, as long as the defaults still work when upgrading `brig` and / or the chart, we should definitely have this.

[2019-05-08 20:28] krancour opened #905 "Enhancement: Add build and cache storage class flags to controller"
Currently, build and cache storage classes cannot be configured globally.

This has the unfortunate side-effect that if the default storage class on your cluster isn't adequate (e.g. doesn't support `AccessMode: ReadWriteMany`), the users of `brig project create` are forced down an advanced configuration path that they otherwise may not want to mess with.

By exposing these flags, we can, in turn,

[2019-05-08 22:28] krancour opened #907 "brig enhancement: allow user to specify their own shared secret"
`brig project create` doesn't allow users to provide their own shared secret in the way that the `brigade-project` Helm chart does. Users are forced to settle for an auto-generated value.

Why this matters...

Presumably, if one is using the Github GW, they will only wish to go through the pain of configuring a Github app once and then install that app into multiple repos within their org, but wit

[2019-05-09 09:58] radu-matei commented on #907
Yeah, I also struggled with this in the past - #816 has some major changes to the project creation workflow, you might want to take a look at that.

[2019-05-09 10:02] radu-matei commented on #905
That makes sense - as long as this doesn't restrict the users of `brig` to choose their preferred classes at project creation time, if required, I don't see any reason not to expose this to the controller.

[2019-05-09 10:04] radu-matei commented on #901
That being said, this might also open up the discussion for adding a custom field to the Build object passed between the API and various front-ends (`brig`, `brigadeterm`, Kashti) that users might be able to set from `brigade.js`.

[2019-05-09 10:14] radu-matei commented on #902
I've been giving this some thought over the past couple of days, and I think we should at least expose an option on the job object whether the worker should kill it if timeout is reached.

There might be cases where you want the job to finish (release resources, for example), but I think a good default would be to terminate the job pod.

What do you think about adding a flag for this?

[2019-05-09 10:15] radu-matei commented on #862
Not yet, we should get a Silver badge, and we're currently in progress.
We should leave this open until we actually have a Silver badge.

[2019-05-09 10:20] radu-matei commented on #895
Glad to hear you have something working - that being said, I think we should leave this open until we actually propagate the ability to set the name.

(I'd be glad to help you get started if you'd like to contribute it)

[2019-05-09 10:21] radu-matei commented on #867
Thanks again for reporting AND fixing this!

[2019-05-09 10:22] radu-matei commented on #856
cc @squillace

[2019-05-09 16:08] #904 closed

[2019-05-09 18:07] flynnduism opened #909 "[docs] glitch in site previews"
As seen in [#894](https://github.com/brigadecore/brigade/pull/894), the PR previews from netlify lose their stylesheet if there are changes made to the CSS.

This looks like a conflict between Hugo Pipelines and the site using absolute urls for asset imports. Updating the `netlify.toml` to specify different config for staging should resolve this.

[2019-05-09 18:18] gfrankel1997 commented on #901
@vdice @radu-matei Imagine that.. catching the error actually catches it. That design is perfect, lets me catch the error, log it wherever, retry logic, etc. and then have it also bubble up to the Build level. Thanks for the clarification guys. Closing.

[2019-05-09 18:18] #901 closed

[2019-05-09 18:25] gfrankel1997 commented on #902
@radu-matei Logically (and in most other systems) when something times out, it terminates. That's what I expected the default to be, but I definitely see the point in having the option. I like the idea of adding a flag for this.

[2019-05-09 19:09] flynnduism commented on #909
This also updates the menu links on the left to use relative urls, so you can properly browse and test the staging previews that netlify generates instead of constantly being directed to the live site.

[2019-05-09 20:52] #909 closed

[2019-05-09 22:51] #840 closed

[2019-05-11 05:04] #905 closed

[2019-05-13 14:58] krancour commented on #907
@radu-matei, I took a look at #892 (the PR for #816) and I don't see that this is addressed, so I'm going to work on this.

[2019-05-14 00:04] vdice opened #913 "Brigade should log thrown error message"
Consider the following example brigade.js file:

[code]

When this file is used to run `brig run <test project>`, although the pipeline fails as intended, the error message isn't logged:

[code]

I'm wondering if we can fix this such that the error message is logged by the worker.

[2019-05-14 19:09] technosophos commented on #913
I think that `app.ts` has a `process.on("error"` and a `process.on("uncaughtRejection"`. Maybe there is some other event like `uncaughtException` that we need to catch or something.

[2019-05-15 14:42] acham commented on #369
Since a job run returns a promise, this works well for retries (tested): [https://www.npmjs.com/package/promise-retry](https://www.npmjs.com/package/promise-retry). The only catch is that the job name needs to be different for each attempt.

[code]

[2019-05-15 15:17] technosophos commented on #369
Oh! That is an interesting strategy I had never considered! I wonder if it makes sense to include `promise-retry` as a core library for Brigade

[2019-05-15 21:11] vdice commented on #913
@radu-matei did you mention you were working on the fix for this?  I'll assign you to the ticket; feel free to unassign if incorrect.

[2019-05-16 01:10] acham commented on #369
Probably. From the user's perspective, I think that having a property `Job.attempts` (1 by default) when defining the job would be a convenient interface. The other retry options seem to be designed mainly for HTTP calls.
I can attempt a pull request.

[2019-05-16 22:45] technosophos commented on #369
That would be good. I don't think jobs should do this by default, but I would love to see it as an easy add-on in pipelines for those cases where this is the desired behavior.

/cc @vdice

[2019-05-17 01:37] krancour commented on #369
Retries asides, it seems there is also interest here in resuming a pipeline where it left off if a worker dies mid-pipeline. Is that right?

I've implemented this in other systems. Realistically, this cannot really be accomplished without major architectural changes and the introduction of a dependency on some kind of message-oriented middleware.

I am curious, however, how common an occurrence it

[2019-05-17 13:50] radu-matei commented on #913
Yes, I have a local fix that I'm going to PR shortly.

[2019-05-21 19:23] #913 closed

[2019-05-21 20:52] vdice commented on #484
We've put up an implementation that should cover this feature request in https://github.com/brigadecore/brigade-github-app/pull/56 .  (Note that since this issue was created, the 'classic'/GitHub gateway has been removed from brigade itself -- it now lives at https://github.com/brigadecore/github-gateway-oauth.  The implementation has been added to the newer, suggested default of the GitHub App-ba

[2019-05-21 22:19] radu-matei opened #916 "Add brig check emoji support"
Right now, running `brig check` prints some text:

[code]

It would be really great if you could get back a green checkmark for each component that is running.

[2019-05-22 00:22] radu-matei opened #917 "PVC creation failure for job caches"
Trying to run a script with a job cache fails:

[code]

[code]

[2019-05-22 00:24] radu-matei commented on #917
Related - function to get the cache PVC name (from [here](https://github.com/brigadecore/brigade/blob/master/brigade-worker/src/k8s.ts#L467)):

[code]

[2019-05-22 15:00] dgkanatsios commented on #917
I've isolated the error, seems to be caused by [this line](https://github.com/brigadecore/brigade/blob/502eb908975c4cc3d516708c7a0adcb422845c75/brigade-worker/src/k8s.ts#L1009). Is there any reason that project name is set to the repo name? I'd be tempted to replace it with `secret.metadata.annotations["projectName"]`. Any objections?

[2019-05-28 17:16] vdice commented on #484
Going to consider this feature completed with https://github.com/brigadecore/brigade-github-app/pull/56.  Closing.

[2019-05-28 17:16] #484 closed

[2019-05-29 17:14] krancour opened #918 "proposal: make images smaller"
Currently, we're basing images for binaries built with Go on Alpine, but other than using its root CAs, I'm not sure why we need it.

It should be pretty easy to build `FROM scratch` and simply add root CAs.

If / when we transition to multi-stage Dockerfile builds, this is _especially_ easy to do by copying the root CAs over from a previous stage.

[2019-05-29 17:16] krancour opened #919 "proposal: track vendored code"
This is increasingly recognized as a good practice, especially when using dep.

A huge benefit to this is that `make bootstrap` goes away. When you check out a branch / tag / commit, or whatever, you just automatically have all the right dependencies and a build can proceed with no fuss.

It does necessitate validating, as part of CI, that vendored code hasn't willfully or accidentally been modifi

[2019-05-30 00:17] krancour opened #921 "bug: project's own brigade.js swallows job failures"
The `notificationWrap(...)` helper sandwiches a job between two notifications to Github. If the sandwiched job fails, the second notification communicates that failure to Github, _but as long as that second notification succeeds, the promise that is returned resolves (it's from the second notification; not from the failed job)._

Even if this is corrected, another problem is lurking: the `runSuite

[2019-05-30 03:41] krancour commented on #921
The plot thickens. `runSuite(...)` makes two calls to `checkRun(...)`-- once each for Go tests and JS tests. For both of these calls, `checkRun(...)`, in turn, invokes an `async` function `notificationWrap(...)`.

The long and short of it is that `runSuite(...)` (which is the handler) returns (nothing) while tests are still running. This effectively guarantees that this handler is _always_ conside

[2019-05-30 14:57] krancour commented on #921
Ok... after more research, this isn't so much the case, but we _do_ need to make sure the handler will either return a promise or throw an error.

This turns out to be kind of tricky...

Both calls to `checkRun(...)` return a promise, so I was initially thinking something like this could work:

[code]

The problem with this, however, is that as soon as _one_ of the promises from one of the `checkR

[2019-05-30 15:16] krancour commented on #921
Something like this works:

[code]

For reference: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/all#Promise.all_fail-fast_behaviour

[2019-05-30 18:07] #921 closed

[2019-06-04 08:38] pixie79 opened #924 "Releases should be signed"
All releases should have a GPG signed SHA256sum file that can validate the release.

[2019-06-04 23:20] vdice commented on #340
Removing the `v1.1` label from this issue.

[2019-06-04 23:22] vdice commented on #172
Removing the `v1.1` label as we haven't seen much recent momentum on this issue (and we hope to cut v1.1 shortly).

[2019-06-04 23:22] vdice commented on #748
Doc/tutorial updates are still ongoing; removing the v1.1 label.

[2019-06-05 08:42] dgkanatsios commented on #879
as discussed in yesterday's community meeting, we should update this thread with the design specific of the e2e testing. So, as a first step, we could do the following on
- run a shell script `e2e.sh` that would install kind and do `kind create cluster`
- it would also install brigade by using `make docker-build`,  `make helm-upgrade` with `kind load docker-image $(DOCKER_REGISTRY)/$*:$(IMAGE_TAG)

[2019-06-05 17:14] #918 closed

[2019-06-05 17:14] #919 closed

[2019-06-06 23:24] vdice opened #926 "CI: add handlers for check run (re-)requested and issue comments"
See https://github.com/brigadecore/brigade-github-app/pull/65 as an example.

[2019-06-07 14:17] radu-matei commented on #924
Hello!
That would be a really good idea, and I think we can look at the process the Helm project adopted for this.

@vdice - do you think we can tackle this in time for the 1.1 release, or do we want to defer after?

[2019-06-07 14:18] radu-matei commented on #899
Since this will be a documentation fix, at least for now, and since it doesn't necessarily require a fix to be merged in time for the 1.1 release, do we want to defer this after 1.1?

[2019-06-07 14:51] radu-matei opened #927 "Local build targets / Build fails on Windows"
#920 brought significant improvements to the build and release process.

However, there is one scenario where now using the Make targets to build locally became significantly more difficult is on Windows, including WSL.

on Windows:
[code]

Because the build target is using `$(pwd)`, this fails on Windows, and because WSL can't mount directories in Docker properly, if you're on Windows it means th

[2019-06-07 15:06] krancour commented on #927
@radu-matei you can opt-out of the container by setting `SKIP_DOCKER=true`

[2019-06-07 15:29] radu-matei commented on #927
Nice, thanks!

However, that solves for WSL, not for Windows only.

[2019-06-07 15:40] vdice commented on #924
I'd say defer -- though, as always, pull requests welcome in the meantime!

[2019-06-07 18:41] krancour commented on #927
@radu-matei not sure why that doesn't solve for the Windows-only scenario. If `SKIP_DOCKER` is true, besides no container being used, `pwd` also would never be invoked.

As an aside, I feel the need to defend why I made things happen in containers (by default) in the first place. Without a container used as a sandbox for things like executing tests or building the brig CLI, success or failure of a

[2019-06-07 18:46] krancour commented on #924
This should be easy enough to do for the pre-built brig CLI for Mac, Linux, Win on amd64. I'm less clear on what signature or verification mechanisms are available for Docker images (which are the bulk of what we publish upon release) or Helm charts (part of a separate project, but no less important).

[2019-06-07 18:47] krancour commented on #899
Defer.

[2019-06-07 19:24] Mister101 opened #928 "Ability to send brigade.json with `brig run`"
This is a feature request.

I am prototyping some things that have external dependencies. I saw that I need to have `brigade.json` in my repository in order for the build to pick it up and install them.

Since the dependencies are downloaded on every build anyway (not just when the project is created), would it be possible to add a flag to `brig run` similar to `--file` but for the `brigade.json`

[2019-06-08 03:13] radu-matei commented on #928
Sure, that is a valid request, and would be really helpful for prototyping, as well as for enabling projects that don’t have a repo associated with them to use dependencies.

Are you interested in contributing this feature?
I’d be more than happy to help you get started.

(That being said, I just want to point out that you can also create a custom worker for your project and have the dependencies

[2019-06-10 12:47] radu-matei opened #930 "Discussion: checking in vendored code (Node modules, Go vendor)"
https://github.com/brigadecore/brigade/commit/ad4152af0cee154057878ed520a9a2e1bc5a60ee checked in the `node_modules` directory.

We should probably remove it from the repository.

[2019-06-10 13:47] krancour commented on #930
I strongly disagree with not tracking vendored code whenever possible. It's extremely onerous and easily overlooked for contributors to re-run dependency resolution every time they switch branches. Even if it's automated so that, for instance, dependencies are automatically resolved before a build or test, that can slow those tasks down substantially-- especially in the event that they are occurri

[2019-06-10 13:54] radu-matei opened #931 "Resource consumption for gateways"
I'm running a `kind` cluster on a Linux machine and deployed Brigade. Looking over the resource consumption, it seems that all running gateways consume a lot of CPU time, with seemingly no activity.

We need to investigate what is driving that resource consumption, given that they are the most compute intense processes on a machine that is running a Kubernetes cluster.

![image](https://user-image

[2019-06-10 14:39] dgkanatsios commented on #931
Not sure if it's related, all 3 projects have 1 thing in common, they do use [gin](https://github.com/gin-gonic/gin)

[2019-06-10 14:59] krancour commented on #931
Could compare resource consumption to a minimal gin app?

[2019-06-10 19:24] adinunzio84 commented on #928
It will probably be a little while before I am able to contribute this, but if noone else does by then, I can try. In the meantime, I just created a repository. I created this request when I was going through the process and figured it would probably help others prototyping as well.

[2019-06-10 20:49] radu-matei commented on #928
As I said, you don't actually _have_ to create a repo - you can create a new worker image, and add the dependencies there and use that worker image for your project, [as described in the documentation](https://docs.brigade.sh/topics/workers/).

[2019-06-10 20:57] adinunzio84 commented on #928
Yep, I did consider that, thanks. Seemed like the same amount of work either way so I just went with the repo approach.

[2019-06-10 21:14] #816 closed

[2019-06-10 23:00] #917 closed

[2019-06-10 23:03] dgkanatsios commented on #917
Fixed by #892

[2019-06-11 16:59] #926 closed

[2019-06-12 04:38] radu-matei commented on #931
This might be related to #564 - the gateways with intensive resource consumption keep logging the following:

[code]

[2019-06-12 05:25] radu-matei commented on #931
Confirming that the issues are because those gateways can't create the instances of the Brigade store because of the RBAC rules.
Additionally, the GitHub App doesn't come with RBAC enabled by default.

For a list of all changes required, see this PR (still a draft) - https://github.com/brigadecore/charts/pull/26

[2019-06-14 17:56] jdolitsky opened #934 "Better docs for docker-in-docker"
I was lost in the woods for a while, using
[code]

to run `docker:dind`. After a while, it turned out I needed to use advanced options during `brig project create`:

[code]

[2019-06-14 19:05] vdice commented on #934
Ah, good call.  Indeed, we at least need to instruct on setting `? Allow privileged jobs Yes` for the project in question.

Meanwhile, `? Allow host mounts Yes` should _not_ be needed for d-in-d.  If convenient, could you help confirm?  (For docker-on-docker cases where the host's daemon is mounted in, then it would be.)

[2019-06-19 21:33] radu-matei opened #938 "Improve error reporting in brig"
For newly created events, if anything wrong is happening in the init container, you don't get any visibility into what is wrong - same goes for other types of failures, which forces the users to go searching through logs.

We could compile a list of common failures that can happen, and surface the relevant logs directly though `brig`.

[2019-06-19 21:44] radu-matei opened #939 "brig [resource] get inconsistency in output"
`brig build get` outputs YAML:

[code]

`brig project get` returns JSON:

[code]

We need to be consistent in the return type, and also have flags for choosing the output.

[2019-06-20 02:27] itowlson opened #940 "brig: suppress usage on error"
I would like to call `brig run` and other commands from a VS Code extension.  Normally if a command failed I would display the stderr to the user.  However `brig`, when it fails, prints the usage information to stderr, e.g. the output of `brig run` with a non-existent project:

[code]

Can we either (a) detect that output is not interactive and adjust output accordingly or (b) provide a `--just-th

[2019-06-20 04:39] itowlson opened #941 "brig: rerun should have the same flags as run"
`brig run` accepts the flags `--no-color --no-progress --background` but these are not available on `brig rerun`.  It seems like we should support most of the `run` flags on `rerun` too.

[2019-06-27 01:52] adinunzio84 opened #942 "`brig project create -xf <file>` doesn't set imagePullSecret"
When creating a project with `brig project create -xf <file>`, the secret that is created does not include the `imagePullSecrets` field that is needed for pulling a custom worker image.

Here is a json file to reproduce:
[code]

The secret that is created has `data.imagePullSecrets` set to `""`.

I have a workaround of just patching it, but figured it's still worth making an issue for it:
`kubectl

[2019-06-27 18:06] adinunzio84 commented on #899
Could you avoid breaking changes by allowing either (or both) to be set, and if the older one is set (even if the newer one is also set), it would default to the old behavior? Basically, like an alias

[2019-06-29 00:21] krancour commented on #899
@adinuzio84 that seems like an unwarranted level of complication to correct a misnomer. I'm harboring some small degree of doubt that we can't just change this without incurring a breaking change. I'll investigate. But as noted above, in the worst case, this will degrade to a doc-only change.

[2019-07-02 06:53] prshntsingh2010 opened #943 "Pull request event in github giving error 403."
I am facing an issue with  pull request event in brigade, the github webhook is not getting delivered and giving error 403.

this issue comes only with PRs which has action:opened or synchronize, for other actions in PR like review requested  it works fine. For other events like Push etc it works fine.

I have attached relevant SS, I am using brigade v1.0.0, for v0.19.0 it was working fine. Can an

[2019-07-02 07:02] #943 closed

[2019-07-02 07:06] prshntsingh opened #944 "Pull request event in github giving error 403"
I am facing an issue with pull request event in brigade, the github webhook is not getting delivered and giving error 403.

this issue comes only with PRs which has action:opened or synchronize, for other actions in PR like review requested it works fine. For other events like Push etc it works fine.

I have attached relevant SS, I am using brigade v1.0.0, for v0.19.0 it was working fine.

![Scree

[2019-07-02 14:48] #931 closed

[2019-07-02 21:29] vdice commented on #940
In https://github.com/brigadecore/brigade/pull/946, I'm proposing to just eliminate printing usage for all non-usage errors (via cobra's handy [silenceUsage](https://godoc.org/github.com/spf13/cobra) option).

[2019-07-08 11:53] LittleColin opened #949 "imagePullSecrets for vcsSidecar"
Does a custom vcsSidecar allow imagePullSecrets to be specified?

I can see that the worker does as it has a structure:

[code]

But the vcsSidecar appears to be just a name/value pair:
`
vcsSidecar: myregistry/myimage:tag
`

[2019-07-08 14:28] LittleColin commented on #949
Apologies, this was me missing the documentation. You added this at the top level not under the worker so it would sensibly apply to both vcs-sidecar and the custom worker as described https://github.com/brigadecore/brigade/issues/445.

[2019-07-08 14:28] #949 closed

[2019-07-09 15:44] #940 closed

[2019-07-10 17:23] #934 closed

[2019-07-11 17:09] #941 closed

[2019-07-17 01:45] #564 closed

[2019-07-17 01:47] radu-matei commented on #778
I believe that if you have at least the first version of `brig` where this was introduced, this should work.

Feel free to reopen if this is not the case.
Thanks!

[2019-07-17 01:47] #778 closed

[2019-07-17 02:00] radu-matei opened #952 "Set tail logs value to -1 as a workaround for VK truncated logs"
Because of https://github.com/virtual-kubelet/virtual-kubelet/issues/541 (actual context here), the logs for any job running on top of VK are truncated to 10. We could set the tail to -1 in all places where we request logs from Kubernetes.

This change would allow usable logs for VK jobs, without depending on the upstream change, and would have minimal impact otherwise (as by default, the kubelet

[2019-07-17 02:13] mumoshu commented on #952
I have no specific rationale for keeping it dependent on a kubelet implementation. Our users should be able to retrieve full build logs on any K8s cluster with any kubelet implementation, as long as the effort to make it kubelet-impl-agnostic isn't so much.

With that said - sounds good! Let's set `-1` everywhere.

[2019-07-17 02:26] radu-matei commented on #942
I reproduced the issue, fix coming shortly.
Thanks a lot for reporting!

[2019-07-17 02:41] radu-matei commented on #890
related - https://github.com/brigadecore/brigade-github-app/issues/37

[2019-07-17 02:46] radu-matei commented on #902
cc @mumoshu - WDYT?

[2019-07-17 02:50] radu-matei commented on #891
Since events are triggered for a specific project, this might be a smaller issue - that being said, it could happen.

[2019-07-17 02:51] #891 closed

[2019-07-17 03:13] radu-matei commented on #800
This is also the case for dependencies of dependencies.

[2019-07-17 03:14] radu-matei commented on #795
Closing in favor of #896

[2019-07-17 03:14] #795 closed

[2019-07-19 21:10] #879 closed

[2019-07-20 10:58] eyjohn opened #956 "Docs - Improve per-project specification section"
As a fairly new user of Kubernetes, helm, and co. I found it difficult to understand that I need to install a new "helm" chart for every project that I create via the `brig` command.

The [brigade tutorial](https://docs.brigade.sh/intro/tutorial03/) simply points to the `README.md` in this repo after running `brig project create` and step [6. Add Brigade projects for each GitHub project](https://g

[2019-07-20 11:06] dgkanatsios commented on #956
Thanks for the feedback!

Actually, you don’t need to install a new helm chart for each project you create. If you run brig project create and follow the interactive prompts, you’re good to go!
I assume that you want to create a Brigade project that will “do stuff” in correlation to a GitHub repo, right? You will need to create a “VCS” project through brig.

Take also a look in the quickstart, you

[2019-07-20 11:09] dgkanatsios commented on #956
I also noticed that the main links here https://docs.brigade.sh/intro/ do not contain the QuickStart, which probably is confusing. Keeping a note to fix that, thanks!

[2019-07-20 11:25] eyjohn commented on #956
Thanks for the clarification, coincidently I discovered this when I tried to install my helm chart only to realize the secret was already somehow deployed.

Since both of these actions achieve the same result, it might be worthwhile highlighting in https://github.com/brigadecore/brigade-github-app#6-add-brigade-projects-for-each-github-project (or any other place `helm inspect values brigade/briga

[2019-07-22 07:51] eyjohn commented on #907
Just ran into the same issue, but even after I found that `defaultSharedSecret` works, I still found it an inconvenience that  `brig create project` creates a new `sharedSecret` for me automatically, which causes the new project not to work until I manually unset the project specific `sharedSecret` (using `kubectl edit` in my case), +1 to have this as a prompt during the project creation step.

[2019-07-23 05:56] mumoshu commented on #902
@radu-matei I think we can consider this as a bug fix and I agree that it should kill the job pod on timeout by default.

Implementation-wise, adding a flag would be nice, yes.

[2019-07-23 06:02] mumoshu commented on #938
@radu-matei Can we start by just making `brig` stream last N lines(10 or so) of the init container logs if it failed?

Or do you have something more user-friendly in your mind? I'd appreciate an example of "a list of common failures" to see how granular each list item would be!

[2019-07-24 18:09] radu-matei commented on #902
I think we should add a flag for this either way - what I'm struggling with is deciding whether we should enable it by default or not - if we consider it is a bug, then we could enable it by default, but we would break behaviour. If we don't, we just add the flag, but disable this by default.

[2019-07-25 20:30] amye opened #957 "License Change: MIT to Apache 2.0"
Opening this issue to track license change from MIT to Apache 2.0 as part of completing onboarding into CNCF + LF.
cc: @technosophos, @caniszczyk

[2019-07-26 00:29] #942 closed

[2019-07-26 14:58] technosophos commented on #957
I think we want to change all of the code repos under `brigadecore/`, correct? And to my knowledge, all we have to do to switch off the MIT is check in a new `LICENSE`. No legal review needed, right?

[2019-07-29 06:22] radu-matei opened #958 "Update Brigade Worker build pipeline to use NPM?"
As more and more Node package vulnerabilities are reported, one fix would be to run a package audit as part of the build pipeline, and while both `npm` and `yarn` currently have an `audit` command, that reports back known vulnerabilities, `npm` also comes with `npm audit fix`, which auto-updates the vulnerable packages.

As per https://github.com/yarnpkg/yarn/issues/7075, this is not implemented y

[2019-07-29 15:47] dgkanatsios commented on #958
We shouldn't forget to replace 'yarn' with 'npm' on docs as well

[2019-07-29 16:51] radu-matei commented on #958
That being said, we can also first add a `yarn audit` on the build pipeline, and manually update dependencies. This would require the fewest changes.

[2019-07-29 19:28] radu-matei commented on #930
One point to counter this is: if you clone this repository on a different operating system and try to run something, the binaries are built for a different architecture, so it's not going to work. You `yarn install` again, but now you introduced changes that are going to break CI.

[2019-07-29 22:48] itowlson commented on #930
@krancour I'm not a Brigade maintainer and it's up to you folks to make a decision on this, but Radu asked me to comment on this as a disinterested observer.

As a Node user, I would be quite surprised to clone a repo and find myself pulling down the whole `node_modules` directory.  I'm used to running `npm install` every time I change branches (and yes, it is annoying!).  The Node idiom seems to

[2019-07-30 13:40] krancour commented on #761
This should all be substantially easier now that a bunch of pipeline improvements went in a couple months ago. In the current state, we publish images tagged with git sha and the mutable tag "edge" on every merge to master. All we need to do is change things around so that publishing of sha-tagged images occurs toward the end of the PR pipeline (after unit tests, before e2e tests). If we consider

[2019-07-30 13:58] krancour commented on #907
What I propose is a new multiple choice option during project creation:

1. Let the CLI generate a new shared secret for the project.

1. Specify a shared secret yourself-- a follow-up question prompts for the secret.

1. Use the gh gateway's default shared secret (if defined). __Note:__ We actually have no practical way of knowing whether that has or hasn't been defined. This is accomplished by u

[2019-07-30 16:26] krancour commented on #930
@itowlson I should lead by saying that this isn't a hill I'm going to die on. You make some excellent points. I do have some counter-points. In the end, I don't care what our collective answer to this particular conundrum is. What I care about the the _overall_ experience for contributors. As long as that is adequately hassle-free, I am happy-- regardless of what shape it takes.

I am not a freque

[2019-07-30 20:24] krancour opened #960 "Discussion: Build / job / log store"
File this away under "things we could maybe do someday... like in 2.0." I just didn't want to lose track of this...

It's been on my mind that a document-based data store (Mongo, for instance), could be a useful way to preserve build and job metadata as well as worker and job logs without requiring build secrets and job pods to hang around.

[2019-07-30 20:55] eyjohn opened #961 "Allow specifying VCS brigade.js branch"
I wanted to propose/discuss an alternative model for solving the security concerns highlighted in https://github.com/brigadecore/brigade/issues/319, https://github.com/brigadecore/brigade/issues/731 and https://github.com/brigadecore/brigade/issues/120.

The latest open issue https://github.com/brigadecore/brigade/issues/731 seems to build on top of https://github.com/brigadecore/brigade/pull/226

[2019-07-30 21:04] krancour commented on #961
I seem to recall having this discussion with someone a couple months ago and now I cannot seem to find that particular thread for reference... but this approach would add new complexity without actually addressing the vulnerability.

The existing risk is that someone could maliciously (or accidentally) open a PR that modifies `brigade.js` in a way, that for instance, dumps credentials into the log

[2019-07-30 21:12] krancour commented on #731
Cross-posting this comment [from a related thread](https://github.com/brigadecore/brigade/issues/961#issuecomment-516595349) because it's important:

[2019-07-31 15:10] caniszczyk commented on #957
Yes, do a PR with the license change and get sign off on the maintainers. This should have been done as part of the transfer to CNCF when we dropped the CLA and move to ALv2+DCO

[2019-07-31 16:05] krancour commented on #957
Noticed yesterday that the footer on Kashti explicitly makes note of Brigade and Kashti both being licensed under the MIT license. So let's not forget to also change that.

[2019-07-31 16:33] #927 closed

[2019-08-01 08:00] eyjohn commented on #961
This is a great point, and I think documenting this in https://docs.brigade.sh/topics/security/ with this level of clarity would be ideal.

Unfortunately, this does lead to the conclusion that a brigade setup for projects which are using secrets (either for CD or resource access) is unsafe to expose to non-trusted users in the current form and as such running tests on PRs without a trusted author

[2019-08-01 09:19] radu-matei commented on #907
Not being able to specify the shared secret actually makes most projects unusable without manually editing the project secret, and we should prioritize allowing users to set it in `brig`.

[2019-08-01 09:43] #824 closed

[2019-08-01 09:43] #958 closed

[2019-08-01 14:35] krancour commented on #961
That is true. But it also a problem that _every_ CI/CD system grapples with.

That's similar to how Circle deals with things, and iirc, Travis as well. By default, they don't inject secrets into builds _from forks_. That is too limiting, imo. I like this idea of injecting or withholding the secrets on the basis of level of trust rather than simply on the basis of being a fork or not. I _really_ li

[2019-08-01 14:57] krancour commented on #907
The shared secret is managed separately from all the other secrets though. They're separate fields in the project.

[2019-08-01 15:02] radu-matei commented on #907
Sure, but some gateways primarily use the shared secret to authenticate (the GitHub app, for example), meaning that after you create a project with `brig`, you have to manually edit the project secret before using it.

[2019-08-01 15:22] krancour commented on #907
@radu-matei my apologies... I mentally crossed two separate threads here. Please disregard my previous comment.

Yes. Yes. Yes.

[2019-08-01 15:34] eyjohn commented on #961
Didn't mean to single out brigade here :)

Agreed, I guess this makes more sense on a per action bound to a specific commit basis. Labels here are a bit ambiguous as they persist beyond the specific action, and indicate that your "upgraded" privilege opens us to the attack you describe.

Ideally, we would allow a trusted user to trigger a webhook against a specific commit (such as through a review

[2019-08-01 17:39] krancour commented on #961
You're right. And going a step further, something like `/ok-to-test` (like in Prow) from a trusted user should be a _one-time_ approval to build the PR and that should reset if the PR is amended.

I believe a reasonable implementation probably only involves changes to the github gateway:

1. When pull request events that would typically either trigger a build _or_, if enabled, trigger "check suite

[2019-08-01 22:15] eyjohn commented on #961
I like the concept but I wanted to revisit some of the specific decisions in more detail.

### Event Handling (Linked vs Unlinked Events)

The way I interpreted the post above was that we evaluate multiple events together to deduce interactions, what I'll refer to as "linked" events. For example, we can get brigade to be aware of pull_requests and review events and to "delay" the pull request even

[2019-08-01 23:52] krancour commented on #961
To be clear, what I was proposing was stateless and didn't actually "link" events together.

The gw would simply _not_ emit certain events (like `pull_request:open`) under certain conditions (the PR was authored by an untrusted user). (Also it wouldn't do check suite forwarding.) A subsequent `issue_comment` event with `/ok-to-test` in the body should have sufficient metadata to identify the PR in

[2019-08-02 12:24] eyjohn commented on #961
It seems we are, apologies for the misinterpretation.

I guess this would be configured in `brigade.js`, i.e. something like
[code]

If that's the case, this is already possible following: https://github.com/brigadecore/brigade/pull/226 presuming the `allowedAuthors` is set correctly?

---

Heh, this is indeed something that crossed my mind when I posted earlier. I guess this is where `brigade.js`

[2019-08-02 13:58] krancour commented on #961
Yes... but what we actually want is for the gw to perform the check suite forwarding here that it _didn't_ perform for the earlier event (the PR being opened or amended). Remember... we're not trying to actually get the `brigade.js` listening for comments. What we're trying to do is have it listen for `check_suite` events of some kinds-- same as before-- but have the gw use a comment to basically

[2019-08-02 14:28] krancour commented on #961
Let's consider this superceded by https://github.com/brigadecore/brigade-github-app/issues/75

[2019-08-02 14:28] #961 closed

[2019-08-02 15:31] eyjohn commented on #961
Thanks for the input! Yea the case for untrusted users is indeed more complex than I initially thought and in hindsight, it's probably not worth it.

Happy to continue the discussion in https://github.com/brigadecore/brigade-github-app/issues/75 about the blocking behaviour.

[2019-08-05 08:33] mumoshu commented on #938
@radu-matei I've submitted the MVP of this feature in #967 that just stream a brig flag to stream all the init container logs. Would you mind taking a look?

Maybe we can gradually enhance it by perhaps enabling it by default, adding a nice header line before the init container logs.

[2019-08-05 08:54] radu-matei commented on #938
^^ Tested and LGTM-ed, I think we can go ahead and merge it. I would keep this issue open though, until we are satisfied with the overall error reporting in `brig`, what do you think?

[2019-08-05 14:17] #907 closed

[2019-08-05 17:56] radu-matei commented on #886
@krancour - I added this issue to the 1.2 milestone - feel free to remove it if you think it won't be done in time, or is not in scope.

[2019-08-06 07:17] eyjohn commented on #907
thank you :)

[2019-08-06 08:41] mumoshu commented on #938
I agree that we should keep this open 👍

Also posting a link to my comment https://github.com/brigadecore/brigade/pull/967#discussion_r310600394 as a basis for discussion.

Enabling `--init` by default sounds good. But output from vcs-sidecar seems a bit verbose. Can we e.g. prevent every bash script line being printed when there's no error? (Not sure how though

[2019-08-06 08:52] radu-matei opened #969 "Check if body.message is defined before logging it in worker"
[code]

[2019-08-06 09:29] mumoshu opened #970 "Write a brig-specific doc"
Extracted from https://github.com/brigadecore/brigade/pull/967#pullrequestreview-270999945

Brigade seems to lack a dedicated documentation for `brig` - Brigade's command-line tool for interacting with Brigade. The more we add features to `brig`, the more likely we want it.

cc/ @vdice

[2019-08-06 13:11] radu-matei opened #971 "Remove top level node_modules directory"
#925 pushed a top level `node_modules` directory that we should remove.
See https://github.com/brigadecore/brigade/tree/master/node_modules

[2019-08-06 16:02] successive-dev commented on #486
I have a bunch of secrets in my cluster, is there any way to know which brigade secret is broken.

[2019-08-06 17:24] radu-matei commented on #486
@successive-dev - how were the secrets created?
The chart for secrets, or `brig`?

[2019-08-07 05:04] mumoshu commented on #952
@radu-matei I tried literally setting `-1` but that ended up with a validation error in client-go:

[code]

https://github.com/mumoshu/brigade/commit/16baa025ce241bdda7ed139a5cd23296fd98814d

The API type says that it is int64. So in theory setting [`math.MaxInt64`](https://golang.org/src/math/const.go) would work, assuming we are unlikely to read more than `9223372036854775807 ` lines of log. (Do

[2019-08-08 00:44] acham commented on #369
Generally speaking, much of the design of Kubernetes considers pods to be somewhat fleeting entities which can easily fail. Brigade, being designed for Kubernetes, would do well to also consider them as such.
Brigade workers usually launch Jobs which correspond to Pods, and a failure in one of these jobs, if not handled properly, will result in failure of the entire workflow.
Jobs can fail only _s

[2019-08-10 02:17] krancour opened #973 "Proposal: Add cloneURL field to the Build struct"
Today I was working on adding Bitbucket support to [brigdrake](https://github.com/lovethedrake/brigdrake) (which is really only a custom worker). I had trouble getting pull request workflows to work across forks. I did some digging...

The [brigade-bitbucket-gateway](https://github.com/lukepatrick/brigade-bitbucket-gateway) was emitting events/builds into Brigade with revision ref referencing a co

[2019-08-10 17:27] vdice commented on #973
This sounds good to me.  It makes sense to place more knowledge/power into a particular gateway in terms of references/urls associated with the repositories that it handles/emits events for.  It being optional secures backwards compatibility.

[2019-08-12 21:03] krancour opened #976 "Proposal: Add human readable title to builds"
At present, it's _really_ hard for humans to visually identify which opaquely named Brigade build(s) is/are associated with a given upstream event.

For instance, if I have opened PR#n in my GitHub project, there's no way to quickly identify the build(s) that are related to that.

It seems this could be improved by permitting gateways to "label" builds with a human readable title. `brig` and Kasht

[2019-08-12 22:46] #973 closed

[2019-08-13 12:14] radu-matei commented on #886
Closed in #968

[2019-08-13 12:15] #886 closed

[2019-08-14 02:48] radu-matei commented on #550
Implemented in https://github.com/brigadecore/brigade-github-app/pull/56.

[2019-08-14 02:48] #550 closed

[2019-08-14 02:51] radu-matei commented on #739
This is a fairly easy to implement, let's give it another look.

[2019-08-14 02:51] #706 closed

[2019-08-14 02:51] radu-matei commented on #706
Closing, but feel free to reopen if you think this is an issue.
Thanks!

[2019-08-14 03:00] #895 closed

[2019-08-14 14:57] krancour commented on #739
I agree that wherever possible we should favor smaller, more discrete jobs. verifying vendored code, running linter, and running tests could be broken into separate jobs for both Go and JS.

[2019-08-14 20:25] krancour commented on #890
Most of the noise was coming from the gthub gateway and this has been addressed by that project (see https://github.com/brigadecore/brigade-github-app/pull/74), so I'm going to close this.

[2019-08-14 20:25] #890 closed

[2019-08-18 14:51] radu-matei opened #977 "Proposal: long-running worker for high frequency events"
This is the current Brigade behaviour:

- event source (gateway) generates an event
- the Brigade controller picks up the event and schedules a Brigade worker
- the Brigade worker executes the JavaScript script and schedules pods to run

However, considering that a new worker is created for each event, for events with high frequency this behaviour might introduce additional latency and consume clu

[2019-08-18 14:55] radu-matei commented on #977
Possibly related discussion - [incremental ETL](https://hackmd.io/@radu/Bk5zvEJEV#Incremental-ETL).
cc @danielepolencic

[2019-08-18 19:04] radu-matei commented on #369
Possibly related: #977

[2019-08-19 02:09] mumoshu commented on #977
@radu-matei I wanted this for so long. Happy to help in any way to make this idea a reality!

If I could add one thing it would be that we need an alternative way to expose/collect build logs. AFAIK `brig build logs` works the same as `kubectl logs POD` so you need a pod-per-build for it to work, which obviously don't work for this long-running worker.

When I last reverted on it my idea was to us

[2019-08-19 02:52] mumoshu commented on #977
Agreed.

I'd also like it if we can (eventually) switch which controller to use at build level. For example specifying the controller name when installing the controller with Helm and setting `controllerName: the-ctlr-name` when creating a brig build may work.

[2019-08-19 02:55] mumoshu commented on #977
Can I ask why is that so? I was thinking that, as long as the new controller passes commit refs and branches to the `brigade.js` processes run inside the controller, init containers should just work.

[2019-08-19 12:40] danielepolencic commented on #977
Just a quick note.
This design might require some sort of persistent storage as you need to buffer the incoming events somehow (the same isn't true with the existing design).

[2019-08-19 14:09] radu-matei commented on #977
@mumoshu - yeah, my comment was mainly related to how right now there is an init container to the worker - but I agree, there should be the option to create one for jobs.

@danielepolencic - starting with #966 you can attach an existing Kubernetes volume to a job - is there anything else that you would expect from that functionality?

Thanks!

[2019-08-19 14:16] radu-matei commented on #977
The only thing that would be different related to logs would be the worker logs - job logs should be accessible in exactly the same way they are right now, right?

[2019-08-19 14:39] danielepolencic commented on #977
I was thinking something different.
With the current design, every time an event is created, a new worker is spawned. While largely inefficient, it's quite straightforward to handle: 1000 events -> 1000 workers. No state.

With the proposed design, the controller can handle multiple events. However, the controller has to spend time processing each incoming event.
If the controller takes 1 second t

[2019-08-19 14:46] radu-matei commented on #977
Oh, ok - missed the part about buffering events.
This raises two questions about the design of this component:

- at what point do we decide we need a separate queue for events?
- fire-and-forget approach for jobs - the easiest way to avoid the controller being hung up on a particular event would be _not_ to have too much logic in the `brigade.js` script - but in theory, I could create a job and s

[2019-08-19 15:14] danielepolencic commented on #977
Not an expert (and I'm not familiar with brigade's architecture), but the design reminds me of the actor model.
Usually, each actor has its own queue and messages are queued up by default. When the actor feels like it, it can consume messages from the queue.

In this case, if each controller has a queue then it doesn't matter how long the script takes to process the events.

[2019-08-21 19:57] yevgenypats opened #979 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-28 20:45] radu-matei opened #980 "Document Linkerd to the Brigade namespace"
I've seen this asked a couple of times, and it would be nice to have a section in the documentation dedicated to configuring Linkerd on a Brigade namespace.

A couple of thoughts related to this topic:

- the meshed services should be Kashti and the Brigade API - since they are the only two web services
- the Brigade namespace should **not** have the auto-inject label - this is because short-runni

[2019-08-29 13:52] #802 closed

[2019-08-30 12:59] yngvark opened #983 "Mismatch between intro documenation and helm chart (ClusterIP vs LoadBalancer)"
Hi

I'm completely new to brigade, and I'm simply following the instructions on
https://docs.brigade.sh/intro/install/

Documentation says:

[code]

and then states that I should see the `brigade-server-brigade-github-app` service as type LoadBalancer. However, to me it is of type ClusterIP.

[code]

So, documentation is not aligned with the Helm Chart.

Output of `brig version`:
`v1.1.0`

Output

[2019-08-30 17:20] radu-matei commented on #983
Hi, and thanks a lot for opening the issue!
You're right, that snipped should not show a public IP, as by default we don't have any `LoadBalancer` type services in our charts.

That being said, if you're looking for ingress (because the part you pasted is from the section introducing ingress), be sure to also check out this document - https://docs.brigade.sh/topics/ingress/

We will update the par

[2019-08-30 17:25] yngvark commented on #983
No, everything is fine. I have just completed some tutorial steps, and although I encountered a few inaccuries in the docs, I figured out everything, and I'm so far very happy with Brigade. It looks like quite an improvement to what I use today, Jenkins with its Kubernetes Plugin.

[2019-08-30 17:33] radu-matei commented on #983
Good to hear - could you also point out the other discrepancies in the documentation?
That's one area we should absolutely improve, and all help is welcome!

Thanks a lot!

[2019-09-03 06:01] yngvark commented on #983
I had to do this fairly quickly and didn't take time to note down other issues, but I will keep it in mind in the future :+1:

[2019-09-19 08:49] emilwangaa opened #985 "Loading local dependencies breaks after upgrade to 1.2.0"
We have a problem with loading local dependencies after upgrading from 1.0.0 -> 1.2.0. We have been following this guide: https://docs.brigade.sh/topics/dependencies/#using-local-dependencies-from-the-project-repository and it has worked flawlessly until now. But now it throws this error:

[code]

It looks to be a regression since https://github.com/brigadecore/brigade/commit/445a6b1a71657d89ead95

[2019-09-19 10:58] radu-matei commented on #985
First of all, thanks for reporting this!

At a first glance, the issue can indeed be traced back to https://github.com/brigadecore/brigade/commit/445a6b1a71657d89ead95b5ab817a8ddc41e7a04#diff-0f8c427577c24a8bc2a4e1d7fe67c276 - which we should have caught when the change was proposed.

Essentially, the logic and test for aliasing local dependencies were removed, without them being added with the ne

[2019-09-20 18:56] radu-matei commented on #971
One additional reason to reevaluate this is related to the fact that we seem to always include development dependencies in the resulting image:

https://github.com/brigadecore/brigade/blob/14972d9549721464b8eb08cd3baf3e2faf26ec53/brigade-worker/Dockerfile#L1-L7

So we would need to `yarn install --production` anyway.

[2019-09-21 16:48] anjakammer commented on #979
Hi Yevgeny,
when I understood it right, it looks like you could easily wrap this feature into a container to be ran as a brigade job. :heart_eyes:
No need to modify the brigade core for that. :)

[2019-09-25 00:56] mumoshu commented on #369
Dumping my memory as this issue was featured in today's Brigade mtg.

I think we have several things that can be done within the scope of this issue:

1. To help making your build idempotent as a whole, add a "checkpointing" helper to a place like [brigade-utils](https://github.com/brigadecore/brigade-utils).
  - This can be a js func/class to wrap `Job` that first checks existence of specific K8s

[2019-09-25 01:15] mumoshu commented on #977
FWIW, I'm thinking that this can possibly end up as a set of `brigade-utils`-like libraries to write a long running K8s controller in JS.

The controller will run `brigade.js` AND/OR anything had been running in worker's init containers and `Job` containers are run either "in process", or in [ephemeral containers](https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/).

For scal

[2019-09-25 18:32] krancour commented on #369
I haven't thought through this all the way yet, but instead of introducing a new kind of resource type (at the moment, Brigade doesn't use _any_ CRDs) or even a new resource of an existing type (e.g. "checkpoint" encoded in a secret) we should think about what kind of job status can _already_ be inferred from existing resources. Job pods, for instance, stick around after completion. So, could it p

[2019-09-26 15:45] vdice commented on #985
Reproduced this as well.  I'm wondering if @chris-chambers might have some cycles to take a look; hopefully a quick fix?

[2019-09-26 17:02] chris-chambers commented on #985
Sorry for the breakage here.  I think this is likely to be straightforward to fix.  I'll get into it this afternoon, if I can.

[2019-09-26 17:23] chris-chambers commented on #985
@emilwangaa, would you mind clarifying the structure of your repo?

I'm guessing that you have:

[code]

Is that right?  We are using a similar structure to this with success, so I'm curious what the difference is

[2019-09-26 17:35] emilwangaa commented on #985
Yep, that is exactly how our repo is structured.

I tried to move the pipeline-utils.js file to a subdir and rename it to
index.js but that didn't do any difference.

We don't have a brigade.json file.

tor. 26. sep. 2019 19.23 skrev Chris Chambers <notifications@github.com>:

[2019-09-26 18:05] chris-chambers commented on #985
For what it's worth, I have tested your layout on 1.1.0 (we haven't upgraded to 1.2.0), and it works correctly.  I'm setting up a test with 1.2.0.

[2019-09-26 18:16] chris-chambers commented on #985
It also works for me on 1.2.0.  Can you check this repo and see if it looks like what you've got?

https://github.com/chris-chambers/brigade-module-test

It's public, so feel free to directly run it in your Brigade instance, if you like.  That might tell us something.

When I run it in Brigade 1.2.0, I get:

[code]

[2019-09-26 18:59] chris-chambers commented on #985
I think @radu-matei is right about needing to add `/vcs/` as a fallback module path.  When I use the `--file` flag to `brig run`, I get this error.  @emilwangaa, is that how you're invoking Brigade?

Like so:
[code]

I'm not familiar with how this flag does its work, but it seems to put the local file at a path like this in the worker container:

[code]

And, since that's not inside the `/vcs/` fo

[2019-09-26 19:26] emilwangaa commented on #985
Yeah, that's primarily how I've run it - can't remember if I've tested it
via our gateway actually. But I can test that tomorrow when I'm at work.

Thanks for all the debugging so far 💪

[2019-09-26 22:27] chris-chambers commented on #985
I've opened #986, which corrects this issue, and should cover all other possible locations of the Brigade entry script.

@radu-matei, @vdice

[2019-09-30 20:51] #983 closed

[2019-10-02 21:25] vdice commented on #985
@emilwangaa would you be able to give https://github.com/brigadecore/brigade/pull/986 a quick test for your scenario(s) when convenient?  The fix looks good to me.  Thanks!

[2019-10-10 19:59] #985 closed

[2019-10-15 00:44] radu-matei commented on #677
Hey, @arunramachandran15!
Do you still have this issue? Feel free to reopen if so.

Thanks!

[2019-10-15 00:44] #677 closed

[2019-10-15 00:47] radu-matei commented on #527
I really like this approach, and I've been thinking about it for a while now.
However, I don't think this should come by default with the Brigade worker - mainly because it automatically needs the TypeScript compiler, which would increase the worker size, and not everyone will need this.

I think we would end up having a separate container image for the worker and maybe a conditional hook in `pres

[2019-10-15 00:49] radu-matei commented on #330
And now we publish `brig` for Linux, Windows, and macOS as part of the releases.
Closing.

[2019-10-15 00:49] #330 closed

[2019-10-15 00:54] radu-matei commented on #427
I think we provide the logs of the init container now - see https://github.com/brigadecore/brigade/blob/e668523aab076a7f46b67b00d62a6b1660c1af54/brig/cmd/brig/commands/build_logs.go#L82

[2019-10-15 00:54] #427 closed

[2019-10-15 01:03] radu-matei commented on #970
Moving the content from `brig/README.md` into the documentation would also open up #83
I think we can start with simply moving it to the docs, then enhance it as we go.

[2019-10-15 01:23] radu-matei commented on #800
I guess we could also iterate through the existing dependencies first, and not install one if it's already a dependency of the worker - we could either fail (my preference), or continue the execution with the risk of not having the correct versions.

[2019-10-15 16:42] bnadeem commented on #172
Is there an update on this feature?  If not, any workarounds? Thanks

[2019-10-15 16:55] radu-matei commented on #172
@bnadeem - the current workaround is to limit the total number of pods in the Brigade namespace - see https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/quota-pod-namespace/

[2019-10-15 17:25] bnadeem commented on #172
Thanks @radu-matei , I did put a limit on the pods as suggested but instead of queuing the build, it simply fails it.  In our use case, we want a max of 1 build happening at a time as we don't want more than one process updating our staging environment.

[2019-10-15 19:47] technosophos commented on #172
For this case, you could do something like this:

- Write a job that creates a lock file in the cache, or if a lock is found, waits for the lock file to be deleted and then creates it, waits for the pipeline to end, and then destroys it
- Use that as a gate-keeper job for your pipeline

[2019-10-17 02:28] #830 closed

[2019-10-17 02:28] #970 closed

[2019-10-17 02:33] radu-matei commented on #970
Started the work here - https://docs.brigade.sh/topics/brig/

Feel free to open follow-up PRs to improve that document :)

[2019-10-23 00:26] mumoshu opened #993 "Add brig a "json" output"
// Extracted from today's Brigade meeting

Brigade should have an alternative `json` output format that emits more machine-readable output. Machine-readable outputs are useful for building any tool that integrates with Brigade via brig due to the programming language used by the tool(Brigade as a go pkg is clearly unusable from tools written in other lang).

The U/X could be like `kubectl get -o j

[2019-10-23 06:50] sathyatvrcbe opened #994 "[Question] Where is the state managed?"
Hi,
Let's assume that I have a brigade project with a brigade.js script. Assume that I have five jobs that have to be run sequentially and I have scripted the same in brigade.js. Also, assume that I trigger a build using the web hook and the brigade controller executes the build.

In this scenario, after executing two out of five steps of the build, the brigade controller gets killed due to some r

[2019-10-23 09:27] sathyatvrcbe opened #995 "Brigade workers are not resilient"
Output of `brig version`:
v1.2.1

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:36:53Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.11", GitCommit:"25074a

[2019-10-23 19:21] radu-matei commented on #994
Your final question is discussed in #775.

- a new event is created
- the controller picks the event, reads the project, then creates a new worker
- the worker starts executing the `brigade.js` file (jobs are created)

All state is managed through Kubernetes - projects and builds are represented as Kubernetes secrets.

For example, whenever a new event is scheduled, when the controller handles it

[2019-10-23 19:26] radu-matei commented on #995
ref #994, #258

You are correct, if a worker is terminated, the current state of the job execution is lost, and you would have to re-execute the entire event.

How would you like to resume the execution? Would the previous jobs be started? Would you preserve the results / outputs / existing volumes that were used by those jobs?
Or would all the jobs get re-executed?

Could you describe your use ca

[2019-10-24 06:37] sathyatvrcbe commented on #995
@radu-matei ,
In our use case, the jobs that we have in the build are costly but idempotent. Assume that my build has 10 jobs that need to be executed sequentially. If 8 out of 10 jobs are executed successfully and the worker fails while 9th Job is getting executed, I would like a new worker to take control of the build and resume from 9th Job. In my use case, I don't prefer the build to be starte

[2019-10-24 06:46] sathyatvrcbe commented on #994
Consensus problem is already solved in K8s. Can't we use them to solve this leader election problem?

For example, instead of deploying the worker as pod, if we can deploy it as a deployment(with pod count as 1), the deployment will make sure that there is exactly one pod per deployment. This will make sure that the worker is resilient to failure.

And also if the states of the jobs can be offload

[2019-10-24 15:28] radu-matei commented on #994
The main issue with offloading the state of the worker into a config map is knowing how to resume the execution of it.

Most Brigade scripts don't just start jobs that are completely independent of one another - you `await` jobs, pass state between jobs (from standard output, or shared volumes).
How and when the volumes are created, for example, and to what jobs they are attached, is handled by th

[2019-10-24 15:30] krancour commented on #994
fwiw, I do think a lot of this discussion is good food for thought as we start to entertain the idea of a Brigade 2.

[2019-10-24 15:46] krancour commented on #995
@sathyatvrcbe that's a narrow use case that is probably not representative of the average case for Brigade, which is why (per discussion in the #994 thread) this isn't easy to tackle.

But stepping back from that other discussion...

I'm curious why the prospect of workers dying is such a big concern? I would certainly never claim that it's impossible, but a worker dying for any reason other than

[2019-10-24 15:52] sathyatvrcbe commented on #994
I understand it is complex and lots of internal details in implementing this. But, just given an idea how could be done in K8 environment since I have evaluated handful of workflow engines.

[2019-10-24 19:27] sathyatvrcbe commented on #995
Kent,
We don't have any production workflows running yet. I was just evaluating different open source workflow engines for their pros and cons. One of our criteria for evaluation is the ability to be resilient to failures. Let me give an example where the dying of workers may be a bigger concern.

Assumptions:
1. I am running Brigade in AKS with three node cluster
2. I have a Brigade script that w

[2019-10-28 18:49] radu-matei opened #999 "Proposal: brig term (brigadeterm) should display worker logs"
Currently, Brigadeterm doesn't display the worker pod logs, meaning users must use `kubectl`, or the web dashboard to see them.

[2019-10-29 17:39] #993 closed

[2019-10-30 05:25] nestajah opened #1001 "Do you have any recomendations to configure brigade-k8s-gateway to listen differents namespaces"
Initially the gateway listens in the namespace that is configured for brigade but I would like to have the best scheme to allow it to listen to events from several namespaces.

Thanks for your time.

`brig version`: v1.2.0
`kubectl version`: v1.15.3
Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

[2019-10-30 05:32] radu-matei commented on #1001
Hi, @nestajah!
If you take a look at the chart for the Kubernetes gateway, in the values file there is a key for `namespace` - https://github.com/brigadecore/charts/blob/8708d0dfc8f46e2705516b866a85e7e76464d57a/charts/brigade-k8s-gateway/values.yaml#L43-L45

This ends up setting the `GATEWAY_NAMESPACE` environment variable in the actual gateway - https://github.com/brigadecore/brigade-k8s-gateway/

[2019-10-30 05:41] #768 closed

[2019-10-30 05:41] radu-matei commented on #768
This was a transient issue with the particular cluster I was using.

[2019-10-30 05:43] radu-matei commented on #771
The link no longer points to Azure docs, but to the non-existent site at https://brigadecore.github.io/.

We should update it to point to itself (https://brigadecore.github.io/kashti/).
cc @flynnduism

[2019-10-30 05:45] radu-matei commented on #563
I think this use case is covered by `brig build delete <id> --force`.
If not, feel free to reopen.

Thanks for suggesting this!

[2019-10-30 05:45] #563 closed

[2019-10-30 05:52] radu-matei commented on #392
FWIW, if we wanted to ensure this, we would add sorting based on the start date in the Kubernetes storage package:

https://github.com/brigadecore/brigade/blob/2218bcf12b4005256713c4caa0ca9e5cb87e89ab/pkg/storage/kube/job.go#L35-L48

[2019-10-30 05:53] radu-matei commented on #648
I haven't experienced this since.
If you still encounter this, please, be sure to reopen.

Thanks!

[2019-10-30 05:53] #648 closed

[2019-10-30 05:54] radu-matei commented on #799
We should create a new intro video / ASCII cinema / GIF that shows brig term, Kashti.

[2019-10-30 05:55] radu-matei commented on #754
I still haven't figured a way to strip them in a consistent way.

[2019-10-30 06:01] radu-matei commented on #877
There is another badge whose original content is no longer available.
This means we no longer have a build badge in the readme.

@vdice - do you know how we had the badge set up?

[2019-10-30 06:03] radu-matei commented on #952
I think this was fixed by #972

[2019-10-30 06:03] #952 closed

[2019-10-30 06:03] radu-matei commented on #971
Fixed in #1000

[2019-10-30 06:03] #971 closed

[2019-10-30 06:04] radu-matei commented on #928
ref #774

[2019-10-30 06:05] radu-matei commented on #8
This is probably suited for something like https://github.com/lovethedrake (which also uses Brigade).
cc @krancour

[2019-10-30 06:05] #8 closed

[2019-10-30 06:07] radu-matei commented on #17
We're no longer recommending / exposing the API server.
If this is still an active request, feel free to re-open.

[2019-10-30 06:07] #17 closed

[2019-10-30 06:10] radu-matei commented on #225
#407 switched the default GH gateway implementation to use the new GH App model, which can be used without a token - I'm closing this, but if you're still using the old gateway and still need to use it without a token, feel free to re-open.

Thanks!

[2019-10-30 06:10] #225 closed

[2019-10-30 06:13] radu-matei commented on #263
Bumping this for visibility - `brigade-cr-gateway` and `brigade-generic-gateway` are still part of the main repo.

[2019-10-30 06:16] radu-matei commented on #406
Additionally, we could consider template repositories for gateways in programming languages we already have support for.

- [ ] Go
- [ ] JavaScript (NodeJS)
- [ ] Rust (@technosophos recently built https://github.com/technosophos/buck)

[2019-10-30 06:48] radu-matei opened #1002 "Update Node version for worker"
Currently, we're basing our worker image on Node 8, whose deprecation is coming at the end of the year ([source](https://nodejs.org/en/about/releases/))

![image](https://user-images.githubusercontent.com/13103165/67835087-55a67c00-faa6-11e9-8ead-35db92061cdb.png)

I think it makes sense to migrate to a stable LTS - 10 or 12.

https://github.com/brigadecore/brigade/blob/2218bcf12b4005256713c4caa0c

[2019-10-30 06:51] radu-matei opened #1003 "Fix link in Checks tab to job logs in Kashti"
Currently, that link points to brigade.sh - it should point to the correct build and job.

cc @vdice

![image](https://user-images.githubusercontent.com/13103165/67835320-e1200d00-faa6-11e9-8b69-4bc24df45f3c.png)

[2019-10-30 07:01] radu-matei commented on #516
We haven't encountered this error so far - but feel free to re-open if you happen to hit it again.

Thanks!

[2019-10-30 07:01] #516 closed

[2019-10-30 07:06] radu-matei commented on #957
All repositories now have Apache-2.0 license.
Closing.

[2019-10-30 07:07] radu-matei commented on #792
Implemented in #966
See https://docs.brigade.sh/topics/scripting/#attaching-volumes-and-volume-mounts-to-jobs

[2019-10-30 07:07] #792 closed

[2019-10-30 07:26] radu-matei commented on #418
I think it is worth exploring changing the default start script to strip ANSI characters - see #801

https://github.com/brigadecore/brigade/blob/2218bcf12b4005256713c4caa0ca9e5cb87e89ab/brigade-controller/cmd/brigade-controller/controller/handler.go#L84

[2019-10-30 14:11] nestajah commented on #1001
Hello, @radu-matei

Do you need the gateway to listen to events in multiple namespaces at the same time?
(I'm also curious for the use case of listening on multiple namespaces.)

Yes, I want to establish some actions both for namespaces with functional microservices and also those that are part of the infrastructure of kubernetes (by default, kube-system) for additional resistance devices in addit

[2019-10-30 14:14] nestajah commented on #1001
Sorry very bad english:

Yes, I want to establish some actions both for namespaces with functional microservices and also those that are part of the infrastructure of kubernetes (default, kube-system) for additional resilience devices in addition to having life and disposition. My first question arose because although I make the change in the configmap does not read any event. Should I generate th

[2019-10-30 17:56] radu-matei commented on #680
Pod names must be unique in Kubernetes:

That being said, we could look into maybe leaving a truncated id in the pod name, and full build id as a label.

[2019-10-30 18:10] radu-matei commented on #939
#996 added support for an `--output` flag on `brig list` and `brig get` commands.

However, there is still inconsistency in the default output:

- `brig project list` and `brig build list` output a table
- `brig project get` now has a flag for JSON, but by default returns a table

Proposal:

- all `get` and `list` commands print a table by default (we need to select the most relevant information h

[2019-10-30 18:14] radu-matei commented on #527
So the TypeScript compile step would have to happen in `prestart.js` - but after we have copied `brigade.ts` in its final location, so any local dependencies from the VCS are found by the TypeScript compiler.

[2019-10-30 19:35] tommysullivan commented on #527
cool, i still support this ticket but Im using some other tools now, gitlab ci and pulumi, i'll probably divest from this but good luck i think it would be really sweet.

[2019-11-01 22:25] vdice commented on #877
@radu-matei I believe we were using an older domain that @technosophos created a while back but that may not be maintained any longer.  I'll assign this to myself and work on creating a new domain and new app release of https://github.com/technosophos/gh-build-badge for use by this and perhaps other brigadecore projects to display build statuses, as needed.

[2019-11-03 20:43] bnadeem opened #1007 "Brigade not deleting PVC after successful build"
## Problem
While trying to use brigade storage in GKE and using FileStore of GCP for ReadWriteMany, things work fine, however, PVC is not deleted for the next iteration of the build.

## Important observation:
The problem is that the pods of the jobs using the PVC are in `succeeded` state and is preventing the pvc to be removed. Once I manually delete the succeeded pods, the PVC is removed and the

[2019-11-04 16:34] krancour commented on #1007
While perhaps not your desired behavior (nor mine, tbh), this is normal. For better or worse, job pods stick around after a build completes because logs from each job aren't stored anywhere else, so the continued existence of those pods is the only way that the logs from each job remain accessible. PVCs used by each of those pods don't complete termination until those pods are deleted.

This could

[2019-11-04 17:25] #1003 closed

[2019-11-04 19:08] #877 closed

[2019-11-05 18:18] vdice commented on #939
👍 Proposal mentioned above sounds good to me!

[2019-11-06 01:16] mumoshu commented on #939
The proposal sounds great 👍

[2019-11-06 01:25] technosophos commented on #1007
I will look into this. The PVC should be destroyed as soon as the build itself is done. So possibly the teardown handler is not being run.

[2019-11-06 01:35] vdice opened #1015 "CI: KinD-based E2E failure"
Although our KinD-based [E2E job](https://github.com/brigadecore/brigade/blob/master/brigade.js#L53-L71) has proven pretty reliable, we've noted a few instances of failures, with one main symptom, KinD's etcd server timing out.  For example:

[code]

from https://brigadecore.github.io/kashti/jobs/test-e2e-01drz1kaybhqprs33c1v357h22

Let's see if we can access the etcd image logs and/or otherwise f

[2019-11-06 17:27] #486 closed

[2019-11-06 17:29] vdice commented on #1015
One thought I had today: let's audit this e2e job/script to be sure more than one instance can run at the same time on the same k8s cluster.  As always, a prime candidate for the cause here could be interactions between one or more parallel run.

[2019-11-06 17:58] technosophos commented on #1007
Is the PVC deleted, but the PV remains? The output above shows the PV.

1. It is true that if a PVC is still around when a pod is deleted, the PVC will be deleted
2. However, we manually delete the PVC when the job is complete, and that should work (I assume, for example, that the individual build pods do not have their PVCs hanging around)

Here's the section of code that produces the last log me

[2019-11-06 18:01] technosophos commented on #1007
Also, I just noticed that the `phase` for your PV is `Released`, which should mean that it is unbound from all things that may have bound it. Can you tell me what you are backing this with? I'd like to go look at how they do cleanup of PVs.

[2019-11-06 18:07] carolynvs opened #1016 "Guidance for OSS projects managing their brigade definition"
@vdice asked me to open this so apologies if it's in the wrong place! 😀

When I'm an open source project and want every maintainer to be able to support the project equally, do you have a recommendation for how to do that when I'm using brigade? For example, my team right now puts our brigade definition/repo into keybase. Not all of the maintainers on our projects have access to this though, just

[2019-11-06 18:10] vdice commented on #1015
Another symptom: https://github.com/brigadecore/brigade/pull/1010/checks?check_run_id=291378917
[code]

[2019-11-06 19:23] krancour commented on #1007
For the record, @technosophos is telling me now that I am wrong and this isn't normal.

What volume provisioner are you using? The issue _could_ lie therein. I'm using NFS and seeing the same behavior.

[2019-11-06 20:18] bnadeem commented on #1007
@krancour , The PV is connected to GCP Filestore via NFS.

@technosophos , I'll recreate the scenario and get with more data.

[2019-11-06 21:57] bnadeem commented on #1007
After the build is finished, following are the results

### brig run log
[code]

### PV

[code]

### PVC

[code]

### kubectl describe pod `brigade-worker-01ds1a03cd22q4d54wfcc3qf9c`:

[code]

### kubectl describe pod one-01ds1a03cd22q4d54wfcc3qf9c

[code]
### kubectl describe pod two-01ds1a03cd22q4d54wfcc3qf9c

[code]

### kubectl describe pod three-01ds1a03cd22q4d54wfcc3qf9c:
[code]

### After d

[2019-11-07 03:18] technosophos commented on #1007
Okay. I am going to do some testing. I am suspecting that there is a bug in the clean-up logic for the build-wide PVC because the per-Job PVCs seem to be getting cleaned up (right?).

For example, I see:

[code]

but after the build the `brigade-aea88cfd4231bc98fff08a51a6dad9256eb0f684fa3e9f0556a5a3` PVC is torn down.

I was using `watch kubectl get pvc` while the job was running so I could watch

[2019-11-07 18:00] vdice commented on #774
@radu-matei I'm unclear how this suggested feature differs from the `  -p, --payload string   The path to a payload file` flag already provided on `brig run`?

[2019-11-07 18:54] radu-matei commented on #774
The current `-p` flag points to a file path with the payload. It might be useful to be able to directly construct the payload inline, without writing it to a file.

[2019-11-07 20:04] technosophos commented on #1016
Are you mainly asking where to put the secrets that are stored in your `project` definition? I imagine they can be stored in any shared secret storage.

All other stuff can be stored in a regular repo, I'd imagine.

[2019-11-07 21:58] radu-matei commented on #392
ref https://github.com/brigadecore/kashti/issues/270

This also happens for builds.

[2019-11-08 00:27] technosophos commented on #1007
I am able to reproduce this on AKS with the `stable` helm chart for `nfs-server-provisioner`. What I see in the NFS provisioner case is that the PVC will stay in `terminating` indefinitely long -- probably until the pod itself is deleted.

The PVC is cleaned up immediately if I remove `storage.enabled`, but if it is mounted (which is what `storage.enabled` does), then the PVC stays in `terminating

[2019-11-08 00:35] technosophos commented on #1007
I just noticed the following callout in the [PV documentation](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#storage-object-in-use-protection):

That seems to imply that the finalizer will prevent deletion of the PVC (and hence the PV) for as long as the Pod record exists in Kubernetes. So perhaps being more aggressive about deleting completed pods is the solution? In Brigade, yo

[2019-11-08 16:53] technosophos commented on #1007
This morning some colleagues pointed me to similar issues all around the Kubernetes ecosystem.

tl;dr: The proposed solution is to delete the finalizer off of the object once the object goes into `status: Terminating`. Is this something we want to consider? (It's a little heavy-handed)

References:

https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-401039268
https://github.com/kub

[2019-11-12 18:58] vdice opened #1020 "Brigade config (brigade.json) parity with brigade.js"
https://github.com/brigadecore/brigade/pull/1017 adds functionality to pass in a Brigade config file (`brigade.json`) in via `brig`, in addition to pulling from version control.  However, we'd like to reach parity with `brigade.js` and add the other methods of consuming this config file (configMap and other).

See https://github.com/brigadecore/brigade/pull/1017#issuecomment-553017318

[2019-11-13 16:35] vdice opened #1021 "Refactor - Create/use RunOpts to send info from brig run cmd to pkg"
Brig's `run` and `rerun` cmds have a lot of their own variables defined, e.g. as seen here in [run](https://github.com/brigadecore/brigade/blob/master/brig/cmd/brig/commands/run.go#L15-L25).  Both to reduce passing a lengthy number of arguments to `pkg` function calls and to make sure `run` and `rerun` stay in parity in terms of args/opts they support, we should create and use a `RunOpts` struct c

[2019-11-14 16:02] carolynvs opened #1024 "Declarative support?"
This is feedback based on using brigade side-by-side with azure pipelines for ~6 months for Porter.

There has been quite a bit of a steep learning curve in figuring out both how brigade's libraries, javascript, GitHub actions and events. Our brigade file has always been an exercise in copy/pasting from a working brigade.js file in someone else's project, or picking @vdice's brain. 😀

It would be

[2019-11-14 16:37] krancour commented on #669
@FrodeHus you might want to look at some of the work going on in https://github.com/lovethedrake/brigdrake.

[2019-11-14 16:48] technosophos commented on #1024
Yeah, adding a mode on top of it that would cover the base cases -- especially for standard CI/CD -- would be good.

[2019-11-14 17:15] krancour commented on #1024
Probably worth noting here that I've been working on something like this-- and it's based on an open specification (which is only a draft right now).

The spec is here: https://github.com/lovethedrake/drakespec

And here's a brigade-compatible worker: https://github.com/lovethedrake/brigdrake

[2019-11-14 17:39] arschles commented on #1024
I noticed that there is a cli for that spec available as well, so if I’m not mistaken you could test out a run through this new gateway locally before you check in code. Do I have that right @krancour @carolynvs?

[2019-11-14 17:42] krancour commented on #1024
@arschles yes. https://github.com/lovethedrake/devdrake can execute pipelines locally using nothing more than the local Docker daemon under the hood-- no k8s involved even.

[2019-11-14 18:26] #928 closed

[2019-11-18 18:44] #980 closed

[2019-11-19 02:34] edavidmv opened #1028 "Kubernetes 1.16 incompatibility"
It seems that brigade charts are not compatible yet with Kubernetes 1.16, trying to install on such platform results in errors due to deprecation of _extensionts/v1beta1_ for deployments.

Error:
`Error: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "Deployment" in version "extensions/v1beta1"]`

Tried to modify the deployment charts locally

[2019-11-19 09:22] jakobehn opened #1029 "Plans for supporting CloudEvents 1.0?"
Hi team!

The CloudEvents specification reached v1.0 a month ago, and Azure EventGrid just announced support for v1.0 as well
https://azure.microsoft.com/en-us/updates/azure-event-grid-now-supports-cloudevents-v1-0-for-greater-interoperability/

Are there any ongoing work to support v1.0 in the generic gateway?

Thanks!

[2019-11-20 00:41] radu-matei commented on #1029
Hi, Jakob!
Sure, we should update the generic gateway to support v1.0 - the initial generic gateway had support for v0.2 - and accepted requests at `/cloudevents/v02/:projectID/:secret` - we should _add_  a `v1` path to that URL and continue to support `v02`, so we maintain backwards incompatibility.

We should plan this for Brigade 1.3, so pinging @dgkanatsios, who initially added the CloudEvents

[2019-11-20 00:42] radu-matei commented on #1028
cc @vdice - we should probably update all Brigade.

[2019-11-21 12:26] AndiDog commented on #956
Declarative setup of projects was the first thing I looked for when comparing CI tools. Argo CD nicely gives examples how to declaratively configure its configuration: https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/. I like how you provide a Helm chart for that purpose, but if people want to use another form of creating projects, they should be told in the documentation that

[2019-11-21 17:55] vdice commented on #1028
Thanks for filing @edavidmv .  I've created a ticket in the charts repo to track updates there: https://github.com/brigadecore/charts/issues/54

Perhaps we save this ticket for vendor/code updates among the applicable Brigade components themselves?

[2019-11-22 23:20] vdice commented on #1028
https://github.com/brigadecore/charts/pull/55 has been issued and approved; should be good to merge and cut charts first thing next week.

In my testing, normal Brigade functionality seems to continue unaffected on a k8s cluster >= 1.16.0 (minikube v1.16.2).  Worker and job pods are scheduled fine, vacuum pods are scheduled and run fine... anything else I'm missing and/or we should check?

Of cour

[2019-11-26 03:40] krancour commented on #976
I have this in-progress. My approach is certainly subject to review, but I am working on adding (optional) `shortTitle` and `longTitle` fields to builds. Any gateway can assign values to these. I am additionally updating the brigade-gihub-app to do so and updating Kashti to show the short or long title in various places in place of opaque build IDs.

[2019-11-26 19:47] #976 closed

[2019-12-04 22:34] joshgav opened #1032 "pods crash-loop in default OpenShift cluster"
Hi team, hope you're well! Wanted to let you know that extra configuration is required to run Brigade on OpenShift. This seems to be because the Brigade containers expect to run as a specific user/UID and OpenShift's default policy is to assign a UID of its choosing (links follow for reference).

Specifically, after I deploy the Brigade chart I have to run `oc adm policy add-scc-to-group anyuid sy

[2019-12-05 15:29] gfrankel97 commented on #325
This should be mentioned in the docs, right now the docs only say it supports `os` and `name`. Label selectors are much more useful and had to go digging in the code and GitHub issues to find that functionality.

[2019-12-05 18:53] vdice commented on #1028
The original issue has been fixed by the chart updates and as mentioned, I didn't see any immediate/obvious failures during Brigade runtime on a v1.16.x k8s cluster, so I'm going to close this issue.  We can create specific issue(s) when/if encountered.

[2019-12-05 18:53] #1028 closed

[2019-12-05 20:52] krancour opened #1034 "[umbrella issue]: decoupling from k8s where k8s isn't the best option"
While it's enormously useful that Brigade can schedule work in a Kubernetes cluster in response to (often external) events, many of Brigade's _other_ uses of Kubernetes are incidental / implementation details. In many such cases, superior options to Kubernetes may exist, new benefits might be derived from decoupling from Kubernetes-- or both.

This is an umbrella issue to track a number of discret

[2019-12-05 21:39] krancour opened #1035 "[proposal]: do not store project configuration as k8s secrets"
Related to #1034

Currently we store project configuration as Kubernetes secrets. This was probably a convenient choice, as it introduced no dependency on a persistent datastore, however, it _also_ presents certain complications:

* Along with events/builds, contributes to Brigade's "control plane" being unnecessarily constrained to running only in Kubernetes.

* Many end users (developers) who do

[2019-12-05 22:07] krancour opened #1036 "[proposal]: do not use k8s as an event/message bus"
Related to #1034

Currently, Brigade gateways emit events into Brigade in the form of Kubernetes secrets. Brigade uses a controller to watch all such secrets. In effect, Kubernetes is being used as an event/message bus. Make no mistake-- this _works_, but better options likely exist.

* Along with project configuration, contributes to Brigade's "control plane" being unnecessarily constrained to ru

[2019-12-06 15:00] krancour opened #1037 "[proposal]: persist all build logs"
Related to #1034

Currently, the only record of a build is its underlying Kubernetes secret (see #1036). Related-- the ability to inspect a build's results (view logs, etc.) depends entirely on the continued existence of the pods that implemented that build's jobs. This effectively presents users with a choice between accepting a cluster littered with completed pods or cleaning up periodically and

[2019-12-06 15:17] krancour opened #1038 "[proposal]: improve how the controller passes config to workers"
Currently, the controller passes most configuration to a worker through environment variables set on the worker's container. _Some_ configuration, however, is obtained by the worker through an alternative channel-- _it must use the k8s API to locate and read the project secret._

At minimum, the worker could be spared some effort by the controller mounting the project secret to the file system. Th

[2019-12-06 16:47] krancour opened #1039 "[proposal]: gateway callbacks"
There are cases where a gateway, in its capacity as the "event broker" seems like the logical candidate to take responsibility for reporting build and/or job status upstream to the original source of the event.

To illustrate, let's consider a scenario we're familiar with today-- GitHub webhooks and statuses reported back to GH via its checks API-- and let's consider how our handling of that could

[2019-12-06 19:09] danmx opened #1040 "[proposal] Generic Gateway: use Authorization HTTP Header instead URL Path"
Right now Generic Gateway's secret is send in a [path](https://docs.brigade.sh/topics/genericgateway/#using-the-generic-gateway). It could be logged by proxies. Common approach is to use [Authorization HTTP Header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization).

[2019-12-06 19:19] danmx opened #1041 "[proposal] Generic Gateway: The secret should be stored as a secure hash instead as a string"
Generic gateway secret should be stored securely as a [hash](https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html#leverage-an-adaptive-one-way-function) (e.g. Argon2).

[2019-12-06 19:31] danmx opened #1042 "[proposal] Remove secrets from project's configuration into separate secrets"
It would be easier to manage secrets if project's configuration would only have references to particular secrets.

E.g. this could allow jobs running in different namespaces to directly access secrets deployed there.

[2019-12-06 19:35] danmx commented on #563
@radu-matei it would be good to cancel a job without deleting artefacts like e.g. logs

[2019-12-06 20:18] #1020 closed

[2019-12-06 20:45] krancour commented on #1041
I agree that secrets at rest should be stored as secure hashes instead-- at least in the cases where you never need the original secret again and only ever need to compare the hash you've stored to the hash you've computed from a secret provided by another party. And that _is_ the case here.

This would be a breaking change, however, so I'm going to label this as something we'll look at in 2.0.

[2019-12-06 20:47] krancour commented on #1040
Completely agree, but this would be a breaking change. Labeling it as something we will look at for 2.0.

[2019-12-06 21:38] krancour commented on #1042
This might possibly be rendered moot by #1035, which suggests that a Kubernetes secret is, perhaps, not the best way to store project configuration. I'm speculating about implementation details here, but in the future, one-off secrets might be derived from some other source and then destroyed when they are no longer needed.

Are you somehow managing to run jobs in different namespaces? Brigade doe

[2019-12-06 21:55] krancour commented on #563
@danmx at last I had looked into it, there isn't a reliable way to stop a pod without deleting it.

This could possibly be solved by #1037, however, because deleting a build wouldn't take all the logs along with it.

[2019-12-06 22:23] danmx commented on #1042
I was thinking that running jobs in project specific namespaces could be a good security feature

[2019-12-06 22:26] radu-matei commented on #1032
Hi, Josh,
First of all, thanks a lot for the detailed report!

I think an immediate action would be to add a general documentation page about running Brigade on OpenShift, and document this as a _temporary_ workaround until we explore a fix that would work across Kubernetes and OpenShift.

Given that I think none of the core maintainers have that much experience with OpenShift, would you consider

[2019-12-06 22:48] #820 closed

[2019-12-06 23:46] krancour commented on #1042
It's something that was considered at one point and never implemented. If you'd like to open a new issue specifically about that, I think that's something we'd entertain for 2.0. It makes a lot of sense-- and not only for security reasons. Personally, I like the idea of things happening in team / project specific namespaces wherein a cluster administrator _could_ set set resource quotas.

[2019-12-07 09:54] danmx opened #1043 "[proposal]: A manual input step in the project"
A manual input/configmation step would be useful in some types of workloads.

For example it could be implemented by adding a `service` (ingress+service+deployment) to `Brigade.js API` or by combination of dependecies in a project trigger (an event from another project + generic gateway with an extra input or one time secret).

[2019-12-07 16:21] technosophos commented on #1034
I could see trying to isolate all of the Kubernetes-specific code to a "driver layer" and make sure that we could easily swap out.

One of the projects I had initially wanted to try out with Brigade WAAAAY back was to see if I could run it on Nomad. Of course, practical design decisions at that time redirected us to be 💯 Kubernetes and I never really gave it a shot... but even today I'd have to sa

[2019-12-08 17:00] cscheib opened #1044 "proposed feature: enable modification of project configuration via brig CLI"
If you use the `brig` CLI to create projects, you don't have many options for adding values (ex: sshKey) after initial creation.

The options as I currently see them are:
* using `brig` CLI:
  - `brig project get org/project-name > project.json`
  - edit the json to include your desired values
  - `brig project delete org/project-name`
  - `brig project create -f project.json -x`
* using `kubectl`

[2019-12-09 00:46] krancour commented on #1044
You are correct about what the current options are for editing project configuration and I agree they are inadequate and something better is called for.

If you're referring to the growing consensus that project configuration may not be stored as k8s secrets in 2.0, that won't nullify this feature request. I think it will make it all the more imperative, since there's obviously no way that we woul

[2019-12-09 02:55] krancour commented on #939
Proposal sounds good, but it _is_ a breaking change-- you never know who has incorporated brig commands into some scripts and may suffer from the default output formats changing. I'm going to take the liberty of applying the 2.0 label to this.

[2019-12-09 03:04] radu-matei commented on #1037
This request totally makes sense in the context of #1036.

One example of this already happening is when using the GitHub gateway (https://github.com/brigadecore/brigade-github-app/) - we're using sending all job logs to the GitHub API, where they are persisted, regardless of what happens with the pods, or even with the Kubernetes cluster.

I think the approach with no breaking changes (for 1.x, a

[2019-12-09 03:07] radu-matei commented on #1044
And I don't necessarily think this is a 2.0 feature - as we're adding functionality to `brig`, if we want to prioritize this, I think it can be part of a 1.x release.

[2019-12-09 03:10] radu-matei commented on #1043
Hi, @danmx!
I'm not sure I totally understand your request - would it mean waiting for a confirmation before executing an event / job?

[2019-12-09 03:15] radu-matei commented on #1040
Oh, this is a really good catch!
A little bit of context for this - when we initially designed the gateway, one of the services we were testing the CloudEvents integration required the handshake to happen by passing a validation code in the path, so we used the same approach here.

That being said, we should absolutely change this.

I'm also thinking at a non-breaking change way of handling this -

[2019-12-09 03:17] radu-matei commented on #1041
Same comment as [in the previous issue about authentication in the generic gateway](https://github.com/brigadecore/brigade/issues/1040#issuecomment-563045130) - I think we can address this issue without a breaking change, by incrementing the version in the event path, and keeping v1 with the current behaviour.

[2019-12-09 04:24] radu-matei commented on #939
I think we may have discussed this in one of the public meetings - sure, we should enable the _default_ behaviour as part of 2.0 - but I think we could add the respective `--output` flags and implementations, and control the default behaviour with an environment variable.

This way, tools and scripts with a dependency on the output type can continue to use it, and we also get the new output withou

[2019-12-09 08:16] danmx commented on #1043
Hi, @radu-matei
Yes, this would be useful to when building more complex workflows on top of Brigade as an alternative to e.g. Airflow or Argo Workflows (Kubernetes native with a proper programming language for workflow definition).

[2019-12-09 15:07] krancour commented on #939
@radu-matei I think that sounds great. Should this maybe be split into two separate issues then?

[2019-12-09 15:18] krancour commented on #1043
I understand what's being asked for here. I have personally, for instance, often incorporated such a step in CircleCI workflows wherein a maintainer needs to manually approve workflow execution. (I should point out that _IF_ all you looking to do is have maintainers approve CI workflows before execution, there are some GH gateway settings that can be tweeked to more or less enable this.)

In more

[2019-12-09 15:22] krancour commented on #1041
@radu-matei but we're talking only about an API path, right? This is a field on the project type and we'd be changing what we store in that field.

[2019-12-09 15:23] krancour commented on #1040
That seems reasonable.

[2019-12-09 15:26] krancour commented on #1044
Ya. Sorry... I actually hadn't intended to make it appear that this issue couldn't be addressed prior to 2.0. I added the 2.0 label because I see it as an issue that would _have to be_ addressed for 2.0. i.e. It _could_ happen sooner. I'm removing the label to hopefully avoid confusion.

[2019-12-09 15:34] krancour commented on #1037
My intuition says the easiest approach might be to use fluentd to forward logs from all relevant pods to... _someplace else_. I don't know where that someplace else is right now. i.e. We don't currently have a datastore other than k8s itself. I was imagining that in the 2.0 time frame, we'd identify one that meets the needs of multiple issues that are under the #1034 umbrella.

[2019-12-09 15:37] danmx commented on #1043
I think a custom gateway that supports one-time links could solve it

[2019-12-09 18:00] mmlac commented on #1042
@danmx Each project having its own namespace is a core requirement for us to even consider running multi-tenant builds on Brigade. Imho Kubernetes secrets should not be replaced with a different set of secrets, as K8s already provides solid RBAC controls around them.
Can you reference the issue here / tag me in the new one for the namespaces proposal?

[2019-12-10 03:39] krancour commented on #1042
See #1034. We are quite possibly looking toward a future where k8s is a mere implementation detail of some driver/execution layer. Necessarily, that would force us consider how concepts like users, roles, projects, secrets, etc. can be decoupled from k8s.

fwiw, if we get the architecture right, I don't see multi-tenancy as necessarily being too difficult to also achieve. I really like the idea th

[2019-12-10 06:34] danmx commented on #1042
@mmlac I’m not suggesting dropping Kubernetes secrets as a secrets storage. My point is to decouple secrets like api keys etc. from the configuration and put them in separate Kubernetes Secrets. Therefore we can use regular ConfigMap for configuration and only reference Kubernetes Secrets which will simplify secrets management (e.g. a single secret rotation).

For example: gateways’ secrets can be

[2019-12-10 07:35] danmx commented on #1034
It make sense to not rely on k8s when it’s not the best tool for the job but to make brigade platform agnostic, I think it’s not the right time. A lot of CI and Workflow projects are moving from other platforms to k8s and have to spend time adjusting or changing their architecture to support it.

For example:
Airflow supports k8s for its workers but Google is still building proper [Airflow operato

[2019-12-10 17:18] krancour commented on #1034
Note that no specific timeline has been established for 2.0. We're lumping issues like these together with a 2.0 label since that major release (whenever it happens) affords us a rare opportunity to make breaking changes and other major architectural changes.

Also note that we're not necessarily trying to compete / play in the same space as the likes of Argo. Indeed, if we decouple the Brigade co

[2019-12-10 22:44] joshgav commented on #1032
Hi @radu-matei, sure. In addition to the UID issue, OpenShift uses [routes](https://github.com/openshift/api/blob/master/route/v1/types.go), approximately equal to ingresses but not quite, so I couldn't use the ingresses in the Brigade charts and configured my own routes instead.

All up and running now :+1: so I'll document these couple items when I have a chance and find a place to submit them h

[2019-12-12 09:33] jakobehn commented on #1029
Excellent! Since Azure EventGrid now supports CloudEvents v1.0, this would be a welcome addition.

Thanks!

[2019-12-13 19:52] vdice commented on #1035
Agreed on limitations with current approach.  My thinking would be to maintain ability to store config as k8s secrets as one option even when/if other options are developed, if possible.

Indeed, I prefer managing my Brigade projects via the corresponding Helm chart and values files for reasons mentioned above: I can backup/restore from said values files (stored securely in a Keybase Git repo, for

[2019-12-13 20:02] vdice commented on #1037
Assuming the fluentd/fluent-bit approach looks good, perhaps we can first add these components for log forwarding and if a configured datastore is supplied, ship logs off-cluster and delete worker/job pods.  If none is supplied, we'd preserve the default of retaining worker/job pods.

[2019-12-13 20:02] krancour commented on #1035
imho, that complicates matters a lot. I'd be fine if that were one possible underlying implementation, but I'd be hoping for it not to be exposed to end users in the way it is today.

I can see the allure in that... and yet that chart was deprecated in favor of `brig project create`, which is the right workflow if you're not a k8s person-- but it doesn't quite get you all the where to where you ne

[2019-12-13 20:09] krancour commented on #1037
They don't necessarily have to leave the cluster. They could, but don't have to. Whatever datastore we end up using, I think it would be good to have the option to run it locally on-cluster or point to a remote one-- e.g. a managed service, perhaps.

This seems complicated to me. As an end user or even as an operator, I don't want to have to grapple with the equation of "if I configure a persisten

[2019-12-13 20:10] vdice commented on #1044
+1 @cscheib (and others here): the current project management functionality presented by `brig` is lacking, for the reasons mentioned above.  I like all of the issue author's proposed improvements mentioned in the description.

As mentioned in other issues, I am guilty of maintaining the Helm chart workflow for project management.  I probably will continue to do so for some time, as this is how th

[2019-12-13 20:14] vdice commented on #1037
Good point.

Fair.  FWIW, I am also eager to see the ever-growing number of completed worker/job pods disappear :)  As suggested, perhaps this strictly being a 2.0/breaking change would be best to avoid complex/costly concessions for 1.x-compatibility.

[2019-12-13 20:16] vdice commented on #1040
+1. Sounds like this issue is ready to be prioritized, the proposal having been greeted w/ approval.

[2019-12-13 20:20] krancour commented on #1037
btw, just in case anyone reading this issue might feel that simply tidying up the cluster (removing completed worker and job pods) isn't sufficient impetus for shipping/storing logs elsewhere, there's also this point that @vdice raised to me in a side channel the other day, which I think is worth committing to the public record here as part of the rationale for this improvement:

This is such an e

[2019-12-13 20:28] vdice commented on #1038
A quick +1 on this.  Consolidation of context/config transmission (and perhaps making sure it is all 'pushed' to the worker, rather than it needing to fetch add'l info) is bound to bring benefits of simpler and less-fragile code.  As some of the information is non-trivial (i.e., not easily/efficiently transmitted via an env var), perhaps unification around mounts are in order.

[2019-12-13 22:47] vdice commented on #1036
This all sounds reasonable and my only real input here is to pose the question on priority of this endeavor.  In other words, besides the issues of clutter (secrets) and constraint to k8s, are there/have there been persistent issues stemming from this approach?

Anyhow, even if there aren't truly pressing concerns, I would agree this work should be considered if/when we agree in 2.0 that we'd like

[2019-12-17 13:57] gfrankel97 opened #1045 "VCS-Sidecar intermittently failing fetch"
This `vcs-sidecar` failure has happened 3 times in recent memory, but very intermittently.
Has anyone experienced this or knows of steps to prevent this failure? Thanks in advance.

Output of `kubectl logs <BRIGADE_CONTAINER_NAME> -c vcs-sidecar`:
[code]

Output of `brig version`: v1.0.0-23-g1b849be

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14

[2019-12-17 18:44] radu-matei commented on #1045
Hello, and thanks for filing this issue!

It appears you are using Azure DevOps to host the repository - just to make sure, I would re-check that you have access to the repository (but given that the error is intermittent, this is highly unlikely).

The error message seems to indicate the error is on the Azure DevOps side:

fatal: Could not read from remote repository.

and the repository exists.

[2019-12-18 17:40] danmx commented on #1034
That makes sense. Using existing components could speed up and enrich the tool, [Argo Events](https://github.com/argoproj/argo-events) covers gateways, [Argo Workflows](https://github.com/argoproj/argo) solves almost everything from event bus to artifacts and probably there are other tools that could cover other things.

[2019-12-19 23:01] squillace opened #1046 "Enable setting default storage at the Brigade level, not merely at the project level"
Currently, Brigade requires ReadWriteMany: https://docs.brigade.sh/topics/storage/#supporting-brigade-storage.

However, `helm3 inspect brigade/brigade` indicates that there is no way to set the `kubernetes.buildStorageClass` or `kubernetes.cacheStgorageClass` as a server wide default, though it IS a required feature for Brigade all up.

I suggest we enable that at the Brigade server installation

[2019-12-19 23:20] krancour commented on #1046
This was already added in #908 and https://github.com/brigadecore/charts/pull/12

I think you're looking at the wrong configuration options, perhaps.

Use `worker.defaultBuildStorageClass` and `worker.defaultCacheStorrageClass`.

These will apply if and only if build storageclass and cache storageclass are left undefined at the project level-- which is an option that the `brig project create` proc

[2019-12-20 16:22] squillace commented on #1046
yup. both `helm inspect` and `helm show` do not indicate these possible values because in the chart they're commented out. Is there a specific place in docs for all the POSSIBLE values that isn't in the chart code itself?

[2019-12-20 16:22] #1046 closed

[2019-12-20 17:19] krancour commented on #1046
As I know (via out-of-band discussion) you've already determined, `helm inspect values brigade/brigade` will give you what you're looking for. Just leaving this hear for anyone else who happens across this thread.

[2019-12-23 21:04] #786 closed

[2020-01-08 08:32] Raffo opened #1048 "How to cancel previous running jobs for same repository?"
Hi,
I'm trying to understand if I could use brigade to implement the following workflow:

- one job is already running, triggered by a push to a GitHub repository
- another commit is pushed, triggering a new event
- before starting the job for a new event, the previous running job is terminated
- once the old job is terminated, the new one is started, allowing for only one job (the latest) at any

[2020-01-08 17:43] radu-matei commented on #1048
I think you could implement such a workflow without modifying Brigade at all - when handling every push event, you could check if there is an existing event being executed for the project, and delete them (`brig build delete-all` given the project ID).

Would that work for your use case?

[2020-01-08 19:07] krancour commented on #1048
@radu-matei that would work, but that delete would take completed builds with it, wouldn't it?

(Also, to kill the running builds, this will need the `--force` flag.)

I'm wondering two things:

1. Would a variant of the `brig build delete-all` command (i.e. a new flag) for deleting _only_ running builds for the given project ID be a useful new feature?

1. This concern seems common enough. While

[2020-01-08 22:35] Raffo commented on #1048
@radu-matei I think what @krancour proposes with the point 1 would be better, deleting only the running builds would be the best.

What I'm proposing is really a feature that is implemented in some CI systems and I think it would be great for brigade. This would allow users to implement workflows that don't allow multiple parallel runs (i.e. in case of side effects to external systems).

I would b

[2020-01-09 04:33] krancour commented on #1048
@Raffo you would use a job that uses an image that has brig on it and configure the project to use a specific k8s service account that has appropriate permissions.

[2020-01-09 07:57] Raffo commented on #1048
@krancour so this could theoretically be done with `kubectl` only, finding running pods and running `kubectl delete pod $POD_NAME` on each of them. It wouldn't be as easy to implement, but probably doable.

[2020-01-09 16:44] krancour commented on #1048
@Raffo can you clarify what you mean by that?

Here's how I would do this:

[code]

(fwiw, I am doing this with `brig` instead of `kubectl` because if using `kubectl` to go after running pods directly, I'd have had my work cut out for me to identify corresponding build IDs so that I can then delete corresponding build secrets. Using `brig build list` and `brig build delete` inverts that process--

[2020-01-09 22:29] Raffo commented on #1048
Yeah I meant that jobs are not in a queue or anything like that, so it can be that multiple jobs start roughly at the same time and the "wrong" one cancels the latest one. It's a minor concern I would say and I don't think that brigade's architecture can solve that. If in this case we are talking about something similar to CI builds, that could be solved by talking back to the repo's API and havin

[2020-01-10 15:25] krancour commented on #1048
We can keep this open for now. I think there are some things in here that are potentially informative as we begin to contemplate architectural change in an eventual 2.0.

[2020-01-21 07:00] mumoshu commented on #977
I'm still interested in this, and I basically agree with @danielepolencic's call that this looks similar to the actor model where each actor is a "custom" brigade-controller that is written in JS or any language.

[2020-01-21 07:28] mumoshu commented on #977
Regarding the design, I would propose two variants:

## Variant 1: Brigade controller in JS per Brigade project

In this variant, we'll maintain the standard model of Brigade deployment that a brigade cluster is shared across one or more projects.

Must-have:

- `./brigade-controller.js` per Git repository which defines the custom brigade controller per repository

Nice-to-have:

- An additional f

[2020-01-21 07:46] mumoshu commented on #977
Maybe it's better to start with the variant 2 and then evolve to the variant 1 as the latter requires more work and works done for the former can reduce cost implementing the latter.

[2020-01-21 08:12] mumoshu commented on #1043
One more alternative I can suggest is that writing a custom K8s operator for e.g. `Approval` custom resources.

You'd create a new `Approval` from your brigade build and let the build wait/block until the approval becomes `Approved` by polling its status. Another process can modify the approval status to `Approved` in reaction to some human interaction or a webhook event. One example of such proce

[2020-01-21 14:27] krancour commented on #977
Unless there are serious objections, I'd like to tag this as a proposal for 2.0. While it's within the realm of possibility that this could be accomplished in 1.0, I think there's a good possibility we'd have to make some major concessions to accommodate what is essentially very different architecture from what Brigade employs today. If we consider this in the 2.0 timeframe, we give ourselves the

[2020-01-22 05:23] mayurkumar09 opened #1049 "ERROR: Cannot connect to the Docker daemon. Docker:dind"
Server:
ERROR: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

Docker daemon isn't getting up in docker:dind or other images that has docker. Tried via brig project create, as well as helm chart for brigade project.
no problem in the gke cluster too, while i'm trying from another machine.

Please help.

Thanks :)

Output of `brig version`: v1.2.1

[2020-01-22 12:27] krancour commented on #1049
How are you planning to use Docker? Despite "dind" being in the image's name, there are two ways of using this, with one obviously being DinD (Docker in Docker) and the other being sometimes referred to as "DooD" (Docker outside of Docker).

What does your project configuration look like?

For DinD, your configuration needs to permit privileged containers _and_ your job needs to launch its own Doc

[2020-01-22 12:43] mayurkumar09 commented on #1049
@krancour -- Thanks for your reply.
When i created a project with brig cli the job was having privileged permission in brigade.js file but then also the docker daemon was not coming up.
However when i created the brigade project with helm chart, docker daemon was working perfectly fine with the same brigade.js file. Is it because project.yml(helm chart) file has privileged enabled by default???

[2020-01-22 16:12] krancour commented on #1049
I think I should clarify something here. In your `brigade.js`, if you configure a job to use privileged containers or host mounts, you're _requesting_ those features. That doesn't mean they are _permitted_. Whether they are permitted or not is set in the project level configuration. i.e. To use a privileged container or host mount, those things need to be true at _both_ the job level _and_ project

[2020-01-23 04:43] mayurkumar09 commented on #1049
@krancour -- thanks for the clarification, gained a lot of knowledge.

I was using docker:dind image.

[2020-01-23 15:07] krancour commented on #1049
@mayurkumar09 you may be using an image with "dind" in its name, but that image _actually_ supports both the DinD and DooD approach. Can you clarify which you are attempting? DinD == start your own Docker daemon on tge container. DooD == use the host's Docker daemon.

[2020-01-23 23:48] brennancheung opened #1050 "Setting job.env causes "Cannot read property 'secretRefKey'""
When creating a `Job` and setting `env` it will cause the job to fail with the error message:

`Cannot read property 'secretKeyRef' of undefined`

I'm trying to run the example in the tutorial for integrating with the GitHub Checks API.

Example:

[code]

This fails with the error:

`Cannot read property 'secretKeyRef' of undefined`

If I comment out anything that sets `start.env` it won't have th

[2020-01-24 00:16] brennancheung commented on #1050
I narrowed down the problem to setting some of the other keys in the env to `undefined`.  Not sure why it would display an error about secretRefKey, but removing some of the keys with no values solved the problem for me.  Closing this issue.

[2020-01-24 00:16] #1050 closed

[2020-01-24 05:01] mayurkumar09 commented on #1049
@krancour -- i was using DinD -- which was starting the docker daemon on the container.
Below is my brigade.js file :

const { events, Job } = require("brigadier");
events.on("push", () => {

    var job = new Job("dockerbuild", "docker:dind");
    job.privileged = true;
    job.env = {
    DOCKER_DRIVER: "overlay"
    }
    job.tasks = [
        "dockerd-entrypoint.sh &",
        "sleep 10",

[2020-01-24 05:17] krancour commented on #1049
Ok. That looks quite right. Are this working with that + privileged containers permitted at the project level?

[2020-01-24 05:25] mayurkumar09 commented on #1049
yes this is working fine after creating brigade project with helm chart as by default there was **allowPrivilegedJobs: "true"** at project level.
But i was not able to do it via brig cli even when i have permitted jobs to have privileged permission at project level via advanced option.
how should i do it via brig cli ??

[2020-01-24 10:42] krancour commented on #1050
I haven't dug too deep, but at just a glance, you've done something that isn't valid afaik. You've used a variable (`e`) in defining the value of a constant (`env`). I'm surprised that is even allowed, but the result is certainly _not_ what you were looking for, as `e` would be undefined at the time the value of `env` is determined.

[2020-01-24 10:48] krancour commented on #1050
And I see that mistake seems to come straight out of our docs... so either I am wrong or the docs are. I'll take a closer look as soon as I have a chance.

[2020-01-24 21:42] radu-matei commented on #1049
If you create the project via `brig`, if you choose `Configure advanced options`, there is an option to allow privileged jobs:

[code]

[2020-01-24 22:44] krancour commented on #1049
@radu-matei it sounds like that is what he had done.

@mayurkumar09 I'd be curious... if you walk through the steps of creating the project (or a new one similar to it) via `brig` (and the advanced option) again, could you possibly extract the corresponding Kubernetes secret that gets created and show it to us?

[2020-01-25 20:46] krancour commented on #977
It's taken me some time to fully absorb the many things proposed throughout this thread. While I'm certain this is going to be a topic of discussion at the upcoming planning session, I do also want to start assembling some thoughts here...

My first thought is that combining the responsibility of a controller and a worker into a single component, even if only on an opt-in basis, comes with a numbe

[2020-01-25 21:08] krancour opened #1051 "Proposal: Let the workers work"
If one looks at Brigade as a _generic_ system for triggering work with arbitrary events from pretty much any source (provided you can find or create an appropriate gateway), then there's a large class of use cases that is underserved by Brigade-- small/simple bits of work.

Containers based on our default worker image don't generally _do_ much work-- at least not directly. While such containers ar

[2020-01-26 01:44] krancour commented on #977
Amending my advice on existing workarounds-- if you're comfortable with JavaScript, you don't even need a custom worker-- you can simply write a brigade.js that does work without launching jobs to do it.

[2020-01-30 07:43] mayurkumar09 commented on #1049
@radu-matei -- ya i did same way previously. **Thanks for the help!!**

@krancour -- Now docker daemon is running perfectly fine. Might be i was using some wrong permutation. But now its working fine both ways via brig and helm too. **Thanks a lot for ur support.**

Below is the details of my brigade project :

$ brig project get mayurkumar09/hellonode
{
  "metadata": {
    "name": "brigade-68b440

[2020-02-01 04:22] krancour commented on #1049
@mayurkumar09 sounds like you're all set. Glad to hear it.

[2020-02-01 04:22] #1049 closed

[2020-02-03 23:01] kenotsolutions commented on #1007
I see the same problem when I use openebs, It opens some "pods" in openebs namespace and brigade vacuum does not delete them.

[2020-02-05 11:43] bogatuadrian opened #1053 "Feature request: pass custom data to a job's vcs sidecar"
Some use cases might require a custom vcs sidecar instead of the one provided with brigade. In those cases, it would be nice if we could also pass custom data to the job's sidecars (through env vars, for example).

Some possible solutions are:
1. Pass all the environment variables from the job's secret to the sidecar
2. Add an extra `vcsEnv` field on `Job` that contains env vars that will be passe

[2020-02-06 19:10] radu-matei commented on #1053
ref #477, which asks for setting environment variables in the worker.

One solution I proposed in #477 was to extend the usage of `brigade.json` (which we use for custom packages that are supposed to be installed in the worker) for environment variables.
However, that wouldn't handle the case where you would want to pass a secret / a value that you don't want stored in plain text.

[2020-02-06 19:23] bogatuadrian commented on #1053
Sorry for not being clear enough. I wasn't referring to static hardcoded values, but more to dynamically provisioned data. Also, I was talking about passing env vars to the vcs-sidecar of a job, not to the worker.

Maybe an example would help: I want to modify my vcs sidecar to also perform `git merge` before the job starts. For that, I would like to pass some environment variables from the worker

[2020-02-06 21:44] vdice commented on #938
Removing from 1.3; we can consider for a future milestone if/when PRs appear.

[2020-02-06 21:47] vdice commented on #956
Removing from 1.3; this appears to be mainly a docs issue so doesn't need to be tied to a given milestone at this time.

[2020-02-06 21:48] vdice commented on #939
Removing from 1.3; we can consider for a future milestone if/when PRs appear.

[2020-02-06 21:48] vdice commented on #748
Removing from 1.3; we can consider for a future milestone if/when PRs appear.

[2020-02-06 21:49] vdice commented on #799
Removing from 1.3 to tidy up this forthcoming release, though of course a new intro video as mentioned by @radu-matei would be great!

[2020-02-06 21:50] vdice commented on #1029
Removing from 1.3; we can consider for a future milestone if/when PRs appear.

[2020-02-10 19:26] FreakTheMighty opened #1055 "[question] Logging in brigade w/ structured return value"
What sort of approach is suggested if you'd like your jobs to return a structured JSON response, but would still like to benefit from logging outputs for inspection in kashti?

At the moment, the option I can think of is to write the results to a file and reserve stdout for logging. This seems workable, but I don't love it. Getting the results directly from brigade by awaiting a job feels far more

[2020-02-17 02:21] TheTFo opened #1057 "Brig CLI with Digital Ocean OAuth failing"
Output of `brig version`: v1.2.1

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:18:23Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe

[2020-02-17 18:51] krancour commented on #1055
Could you explain why you're averse to that? I would, in fact, think it _unusual_ for results to be returned via logs. To demonstrate, consider a common use case-- using a job to run tests or execute a build. In the case of tests, the coverage report may be the artifact that is produced. In the case of a build, the artifact produced by the job might be a binary, a JAR, or a Docker image. In either

[2020-02-17 21:55] FreakTheMighty commented on #1055
@krancour thank you for that thorough explanation. Here's more context about where I'm coming from.

First, I was inspired to return structured data by the brigade.sh docs [here](https://docs.brigade.sh/topics/scripting/#jobs-and-return-values). I'm not sure if this is _unsual_, but seems reasonable to me. The docs note:

This is exactly the use I have, an upstream job's results should be passed t

[2020-02-18 05:56] krancour commented on #1055
The docs demonstrate the range of what _could_ be done. Something I've seen done frequently is capture the logs from one job and feed them into a second job whose entire role is to push them somewhere. So yes... there's a mechanism provided for doing this sort of thing, but I think discretion is advised. Indeed, I think this last bit of the statement is quite relevant here:

As for this:

[code]
P

[2020-02-18 12:54] gavD opened #1058 "Multiple brigade.js in the same repository"
*Output of `brig version`:*
v1.2.1

*Output of `kubectl version`:*
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.1", GitCommit:"4485c6f18cee9a5d3c3b4e523bd27972b1b53892", GitTreeState:"clean", BuildDate:"2019-07-18T14:25:20Z", GoVersion:"go1.12.7", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.9-eks-c0eccc", G

[2020-02-18 14:03] krancour commented on #1058
Script locations in order of precedence:

https://github.com/brigadecore/brigade/blob/master/brigade-worker/src/index.ts#L47-L63

What you're looking to do seems reasonable, however. I believe we're likely to sort this out in the 2.0 timeframe. I'm currently drafting a 2.0 proposal and the proposal includes the ability for a project to have multiple "builds" triggered by a single event (though tha

[2020-02-18 14:08] gavD commented on #1058
thanks for getting back to me :-)

Just to clarify; `brigadejsPath` has no affect in the current version, is that correct?

So to get my desired behaviour, the easiest way would be to set `process.env.BRIGADE_SCRIPT` ?

[2020-02-18 15:06] krancour commented on #1058
@gavD first, my apologies. I have 2.0 on the brain and it was too easy for me to look at this through a lens of how this can all be improved in 2.0. I zeroed right in on the "multiple brigade.js" aspect and overlooked that you're not necessarily trying to make one project use different ones for different events. _You're just looking to use one specific one._ Have I go that right? (Or this is your

[2020-02-18 15:09] krancour commented on #1057
@TheTFo could you possibly share relevant sections of your kube config __with sensitive details redacted, obviously__?

I am guessing that the k8s go-client library we're using might _possibly_ be too old to support newer authentication mechanisms. Just a hunch.

[2020-02-18 15:24] FreakTheMighty commented on #1055
@krancour got it. Sounds like I'm trying to use brigade in a way that it is not intended to be used. Thanks for taking the time to answer my questions.

---
You're right about being able to feed a path directly into the next job. There are times where I would want the results in the brigade.js to help determine how exactly down stream jobs are orchestrated. Still, the answer is, "use files on disk

[2020-02-18 15:35] gavD commented on #1058
Thank you for getting back to me so promptly :-)

My use case is that I have an API in front of Brigade.

The API has two operations at the moment:
1. Request a new K8s environment (via Helm, etc)
2. Delete an environment

Both operations I have created as separate Brigade projects, and their code is in the same git repository.

So, I wanted to have a second `brigade.js`, effectively.

The solutio

[2020-02-18 16:02] TheTFo commented on #1057
I'll get you that this evening, thanks!!

On Tue, Feb 18, 2020, 10:09 AM Kent Rancourt <notifications@github.com>
wrote:

[2020-02-18 16:02] krancour commented on #1058
This is useful information. It means some of the problems I was anticipating you'd run into aren't going to come up. Namely, the github gateway emits events for projects with a name matching the repo name. This makes it impossible for the gateway to selectively emit events from one repo for n brigade projects. But, it seems as if the github gateway isn't in play for you. _Your API is acting as a g

[2020-02-18 16:12] krancour commented on #1058
Amending my previous post-- I am asking because if cloning the repo isn't working as expected before the worker executes, then the reason the script you specified isn't executing is because it simply doesn't exist within the pod.

[2020-02-18 16:23] gavD commented on #1058
the sidecar works perfectly, as far as I can tell.

So long as I only want to run `brigade.js` in the root, and not from any other location, it's all fine, I have no problems

[2020-02-18 16:23] krancour commented on #1055
That is an interesting thought. I'm going to contemplate that because... currently the build-level shared storage is provisioned by the worker itself toward the beginning of its execution. This means its not mounted _into_ the worker.

I am wondering if in 2.0, there could be a benefit to shared storage being provisioned by the controller instead, then mounted into the worker, creating conditions

[2020-02-18 16:26] krancour commented on #1058
And the value of the `BRIGADE_SCRIPT` in the worker's main container is what you expect?

[2020-02-18 16:29] gavD commented on #1058
`BRIGADE_SCRIPT:                       /vcs/pipelines/environment-delete/brigade.js`

And the container basically no-ops
[code]

[2020-02-18 16:30] gavD commented on #1058
I don't know if this is relevant, but I'm using a `ref` also, the sidecar logs show `refspec=delete-env-v2` (I am working in a branch)

[2020-02-18 16:32] krancour commented on #1058
`BRIGADE_SCRIPT` doesn't look right. It's supposed to be relative to the root of the repo.

[2020-02-18 16:33] gavD commented on #1058
OK. The script I want to run is in `pipelines/environment-delete/brigade.js` in my repository.

This script looks a bit like:

[code]

[2020-02-18 16:34] krancour commented on #1058
Standby... checking something...

[2020-02-18 16:42] krancour commented on #1058
I stand corrected... you probably _did_ specify a relative path. The controller adds in the leading `/vcs`, so an absolute path gets passed to the worker...

I'm having trouble spotting why this isn't working...

You said that you think the vcs "sidecar" is doing its job. Can we check that somehow?

If `brigade.js` at the root of your project works, can you put a script there that just lists the c

[2020-02-18 16:50] gavD commented on #1058
This code

[code]

outputs the list of files in the root of my VCS project, so that is behaving exactly as I would expect it to.

- the folder `pipelines` is visible in the list of files.
- `__dirname` is `/vcs`
- `process.cwd()` is `/home/src`

[2020-02-18 18:03] krancour commented on #1058
Interesting... this is looking stranger and stranger.

Can you try this, please?

[code]

[2020-02-19 00:38] FreakTheMighty commented on #1055
Alright, then in an effort to beat a dead 🏇 ... would you consider supporting an HTTP transport similar to knative or openfaas? Not sure you need the orchestrator to have access to shared storage if you could more easily return structured data.

Just imagine how tidy an brigade.js would be if you could simply `const results = await job.run()`, and get a JSON body.

[2020-02-19 01:09] TheTFo commented on #1057
I redacted aggressively, however, here's the problematic config, the working version does NOT contain the exec portion:

[code]

[2020-02-19 09:22] gavD commented on #1058
[code]

I can't understand why it can't see it... If I change the brigadejsScript to 'pls.js' I get a similar result:

[code]

however this might be telling:

[code]

Notice the `\n`

If I add `trim()` calls then the code you supplied works fine, ergo *my brigadejsScript has a trailing newline*, but I can't see where it's coming from

[2020-02-19 09:24] gavD commented on #1058
*Ahh I finally got it working!!*

[code]

The latter works correctly. I'm sorry for taking up so much of your time, and thank you so much for helping me to diagnose this.

It may be worth doing a `trim` on the supplied values, particularly as they're base64 encoded so I didn't spot the newlines I was introducing using `echo`.

[2020-02-19 18:45] krancour commented on #1057
I can now confirm that the `client-go` we're using is too old to support client-side auth plugins.

I'm working on what is unfortunately a massive dependency update so that you can try a custom build of `brig` and let me know if it solves the problem for you.

[2020-02-19 19:07] krancour commented on #1057
@TheTFo could you perhaps try building `brig` from this branch and lmk if it works ok with DO?

https://github.com/krancour/brigade/tree/update-dependencies

The following will run the build in a container (i.e. the same way it happens in CI).

[code]

Alternatively, you can do this faster natively if you have Go 1.12+ installed:

[code]

Another way to speed it up is to edit this line so a binary

[2020-02-19 19:10] krancour commented on #1055
@FreakTheMighty can you please elaborate on how you imagine that working? I'm not sure that my understanding of the suggestion is necessarily correct.

[2020-02-19 19:12] krancour commented on #1058
No worries at all. I'm glad you got this working!

[2020-02-19 19:12] #1058 closed

[2020-02-19 19:37] FreakTheMighty commented on #1055
Perhaps brigade could support an HTTP flow like this. We specify an image, just like we do now, but now brigade passes a `PORT` env variable that our image must listen on for an HTTP request. Now, instead of passing tasks as a list of strings, they could be JSON serializable objects. These would then get POSTed to our image and the response returned to the brigade.js.

Again, this is heavily inspi

[2020-02-19 23:58] krancour commented on #1055
@FreakTheMighty I'm quite familiar with knative and I think there is a fundamental difference between how they model functions and how brigade models jobs. A knative function may receive input and output over HTTP, but it is also "long running" in the sense that a function can serve multiple requests in the time it is up, prior to eventually being scaled to zero as a result of inactivity. By contr

[2020-02-20 14:37] TheTFo commented on #1057
Sorry for late response, I'm hoping to test this this evening.

Thanks!

[2020-02-20 15:48] krancour commented on #1057
@TheTFo no rush.

[2020-02-21 01:12] TheTFo commented on #1057
Looks good!

This will come in handy for many people! Do you know when it may be able to be merged?

[code]

[2020-02-21 15:29] krancour commented on #1057
@TheTFo glad it worked. This was a _massive_ dependency update. My preference is that we not rush to release this, but instead let it marinate for a little while in case any of the dependency updates have introduced as-yet-undiscovered gotchas.

The good news, for you, however, is that the custom build of the `brig` client should be 100% compatible with the current release of Brigade. So... I woul

[2020-02-21 21:55] #1057 closed

[2020-02-25 15:08] #916 closed

[2020-02-26 16:45] phsteve commented on #558
A note for anyone trying to do this now: use the `brigadecore/brigade-worker` image as your base image instead of `deis/brigade-worker` as mentioned in @technosophos 's comment above (https://github.com/brigadecore/brigade/issues/558#issuecomment-405980462).

[2020-03-04 06:26] shubham1172 commented on #774
Is it cool if I take this up? @radu-matei

[2020-03-04 06:27] shubham1172 commented on #774
Can I work on this? @radu-matei

[2020-03-04 07:06] radu-matei commented on #774
Sure, feel free to tackle this, and let me know if I can help!
Thanks!

[2020-03-05 17:52] krancour opened #1062 "Proposal: Change how "rerun" works in 2.0"
Currently, `brig rerun`, according to interactive help behaves as follows:

must still be accessible. Once a build is vacuumed, it can no longer be re-run.

script with the provided one.

such as re-running with a different event, payload body, commit, etc.  See usage via -h/--help.

The ability to change the payload, the script that executes, etc., to me, feels like this doesn't _necessarily_ eff

[2020-03-05 17:58] radu-matei commented on #1062
But would this effectively make things more difficult for people actively trying to change some parameters of a previous event execution?

[2020-03-05 18:26] krancour commented on #1062
Yes. But is that "rerunning?" Or is it something different? I'm proposing this mainly on the grounds that the current behavior doesn't comport with the common understanding of the word "rerun"-- to run again.

I could imagine a new option on `run` to utilize an existing build as a template.

[2020-03-09 16:33] #1055 closed

[2020-03-09 17:28] kenotsolutions opened #1063 "brigade does not support other than the master branch"
**Brigade does not support other than the master branch**

Developers can work on different branches and they might need to use the brach pipeline. For example, 3 developers can work on a project and they can work on dev1 to dev3 git branch and might create 3 different namespaces with to test their code. But brigade gets the code from the master branch. We could use "git pull" after vsc-sidecar wo

[2020-03-09 18:12] krancour commented on #1063
I am unopposed to a more immediate fix for this being explored if someone wants to take it on, but I did want to mention that this limitation _will_ be addressed by the forthcoming Brigade 2.0 proposal.

[2020-03-10 01:45] TheTFo opened #1064 "Brigade generic gateway should return build id"
Output of `brig version`: v1.2.1

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:20:10Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.9-eks-502bfb", GitCom

[2020-03-10 13:47] krancour commented on #1064
Overall-- a reasonable ask.

Minor objection to _returning it from the store, specifically..._ the storage code referenced above is part of a stable API used by all existing gateways. Modifying what it returns would be a breaking change...

But that function takes a pointer as an argument, so the UUID it assigns to the build should be accessible after the call to `CreateBuild(...)`.

This or somet

[2020-03-19 09:28] gavD opened #1065 "Missing ref fails are hard to trace through Kashti"
Via an API layer, our users post `simpleevent`s to Brigade. They can specify `ref` to select a custom branch (for feature testing).

However, if they make a typo in the branch name, the `vcs-sidecar` fails after 5 attempts, which is fine, but on Kashti I see:

![image](https://user-images.githubusercontent.com/205245/77051354-0ca68400-69c3-11ea-8dc6-16a83e841dd3.png)

- the first event (the one wi

[2020-03-19 15:32] krancour commented on #1065
@gavD you mentioned an "API layer." If you are using a custom API to create events, there are `shortTitle` and `longTitle` fields present on events in the last few releases of Brigade. Most gateways don't set them yet, but they're there.

If you set those, they'll show up in Kashti in place of the long, opaque (and not-so-useful) build IDs.

Is that a useful option you can possibly take advantage

[2020-03-19 16:42] gavD commented on #1065
Thanks @krancour , that sounds like a great idea 👍

I posted an event that contained :

[code]

but unfortunately it didn't get set. I checked the underlying worker secret and I see:

[code]

I am running `brigade-1.5.0` chart with app version `v1.3.0` . 1.3.0 definitely contains the code for the  shortTitle field. I don't see it documented, am I missing something?

[2020-03-19 16:50] gavD commented on #1065
Ah, I see these fields are intended to go on the `event`, not on `event.payload`. How could I set those fields? (sorry if I'm missing something obvious!)

[2020-03-20 19:46] krancour commented on #1065
@gavD, it depends... how are these events entering the system? You mentioned an "API layer."

[2020-03-21 13:54] gavD commented on #1065
My API layer is in AWS API Gateway using Lambda. Lambda makes an HTTPS post to Brigade

It looks like this:

[code]

(`post` is just a wrapper around https)

[code]

[2020-03-23 13:27] krancour commented on #1065
@gavD  is that a cloud event headed for the generic gateway?

[2020-03-24 10:37] gavD commented on #1065
Looking at Looking at https://docs.brigade.sh/topics/genericgateway/ I'd say that yes I think it is using the "generic gateway". I'm using v1, so I'm using SimpleEvent. If I use v02 could I perhaps get the behaviour you're describing here?

[2020-03-24 13:05] gavD commented on #1065
I've set up cloudevent listener:

events.on('cloudevent', (e, p) => { // handler for a CloudEvent
    console.log('cloud event e is');
    console.log(e);
    console.log('cloud event p is');
    console.log(p);
});

I'm posting this to it with:

[code]

`testdata-create-cloud.json` contains:

[code]

I get the results:

[code]

so it seems this doesn't help me - setting longtitle/shortTitle (or a

[2020-03-24 13:43] krancour commented on #1065
@gavD ok... got it. So, as you've already noted, the `shortTitle` and `longTitle` fields that might help you out by making things more human-identifiable are event-level fields and _not_ fields of the event payload.

If you're submitting events through the generic gateway (which, I believe does use Cloud Events; it's an area of the system I am less familiar with) there is not opportunity for you t

[2020-03-24 13:56] gavD commented on #1065
thanks! I follow that. Thank you for explaining :-)

[2020-03-24 13:56] #1065 closed

[2020-03-24 14:46] krancour commented on #1065
@gavD glad that made sense. Do let me know how it turns out!

[2020-04-14 23:17] veeramarni commented on #1002
Any update on this request? We have some dependencies to add to worker that uses node 10version

[2020-04-15 15:45] veeramarni opened #1069 "Build failing when running locally"
I'm trying to build docker images but it is failing in my Macbook pro.

Any idea how to resolve this issue?
[code]

[2020-04-15 15:46] veeramarni commented on #1069
ALso, is there step to create a docker image for `brigade-worker` specifically?

[2020-04-15 17:36] krancour commented on #1069
@veeramarni looking at the output, the `docker build` command did not complete. `Step 14` is indeed the last step of that particular `Dockerfile`, _but_ the last few lines of any `docker build` should look something like this:

[code]

Given that I don't see all of that, I have to assume `docker build` didn't complete and that is why the subsequent command to add a new tag to the image you just bu

[2020-04-20 11:52] gavD opened #1070 "initGitSubmodules does not seem to work"
I am using `Brigade 1.3.0` via chart `brigade-1.5.0`

Output of `brig version`: `v1.3.0`

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): `EKS`

I have a pipelines with a submodule. It has:

[code]

Put another way, `stringdata.initGitSubmodules == "true"`

However, unfortunately, it doesn't seem to work.

I look at the git sidecar logs and see:

[code]

Co

[2020-04-20 19:56] #1002 closed

[2020-04-20 20:22] krancour commented on #1070
@gavD I'm looking at this and I can't spot yet what's going wrong. To give me an additional data point, would you be able to look at the YAML for the pod and find the environment variables for the VCS init container see if `BRIGADE_SUBMODULES` is set correctly there?

[2020-04-21 13:17] gavD commented on #1070
I am looking at the worker pod and no, BRIGADE_SUBMODULES is NOT set

[2020-04-21 13:58] krancour commented on #1070
@gavD I'm sorry... I need more clarification. By "not set," do you mean that `BRIGADE_SUBMODULES` doesn't appear at all? Or it appears, but has no value defined?

[2020-04-21 14:12] gavD commented on #1070
It never appears
VCS sidecar has:
[code]

brigade-runner has:

[code]

[2020-04-21 14:14] gavD commented on #1070
Oh I have just realised that I am looking on the wrong pods - I was looking on the worker

On the actual "job" pods it works as I would expect

I'm sorry, I've probably misunderstood how this all works. I will go back to the drawing board and try again from scratch and see if I can figure this out.

[2020-04-21 14:25] gavD commented on #1070
perhaps I should explain what I'm trying to do.

1. In my pipeline, I do some validation
2. The validation schema is in shared code
3. The validation runs on the main pipeline, NOT in and of the containers that the pipeline spawns, ergo it runs on the worker **so I was expecting the submodules to load on the worker** which I think is where I was wrong
4. The shared code I can't get at over normal

[2020-04-21 14:50] krancour commented on #1070
That's the normal convention. `brigade.js` (i.e. that which is directly executed by the worker) doesn't do any heavy lifting. It typically _only_ defines a pipeline composed of jobs that do the heavy lifting. fwiw, this convention was established before I joined the project and I personally argue that there are valid use cases for workers that do the work (or some of the work) directly.

If it sui